@function evenColumnWidth($num_columns, $width_precision)
{
  @return percentage(floor(calc(calc(calc(1 / $num_columns) * $width_precision) / $width_precision))) 
}

@mixin evenColumnsMixin {
  $columns: 12;

  @for $column from 1 through $columns {
    .even-columns-#{$column} {
      list-style: none;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;

      .even-column {
        padding: 5px;
        width: evenColumnWidth($column, 100);
        position: relative;
        box-sizing: border-box;
        flex: 1 0 evenColumnWidth($column, 100);
        margin: 20px;
        height: max-content;
      }
    }
  }
}

@include evenColumnsMixin;
