@import "variables"; // variables MUST go first
@import "mobile";
@import "blog";
@import "icons";
@import "grid";
@import "button-selector";
@import "menu";

html {
    background-color: $backgroundColor;
    font-family: "Arial Light", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}

// All header attrs in the app need their own custom styling.
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    // font-size: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

pre {
    white-space: pre-wrap;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

a {
    color: $brandColorSecondary;

    &:visited {
        color: $brandColorSecondary;
    }
}

.text-center {
    text-align: center;
}

.main-container {
    width: 75%;
    margin: 50px auto 100px auto;
    color: $textColor;
}

.content-container {
    max-width: 75%;
    margin: 0 auto 40px auto;
}

.content-text {
    line-height: 1.2;
    display: block;
    font-size: 18px;
    margin-bottom: 18px;
}

.content-text-large {
    line-height: 1.2;
    display: block;
    font-size: 24px;
    margin-bottom: 18px;
}

.header-text {
    text-align: center;
    font-weight: normal;
}

.header-text-logo {
    font-size: 84px;
    font-weight: 200;
    line-height: 1;
    margin: 24px 0 0 0;
}

.header-text-description {
    font-size: 24px;
    font-weight: 200;
    margin: 8px 0 40px 0;
}

.page-header {
    font-size: 72px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 24px;
}

.course-list {
    text-align: center;
    padding: 30px 0;
}

.content-box-outer {
    background-color: $brandColorPrimary;
    padding: 5px;
    margin: 20px 5px 40px 5px;
    box-shadow: 3px 3px $boxShadowColor;
}

.content-box-inner {
    padding: 30px 40px 20px 40px;
    background-color: $backgroundColor;
    color: $textColor;
}

.content-box-inner span {
    font-size: 18px;
}

@media (min-width: 992px) {
    .content-box-inner span {
        line-height: 4;
    }
}

.content-box-inner li {
    margin-left: 24px;
    font-size: 18px;
}

.course-list-item-outer {
    @extend .content-box-outer;
    margin: 0;
    position: relative;
    width: 300px;
    height: 200px;
}

.course-list-item-inner {
    @extend .content-box-inner;
    padding: 30px 10px 0px 10px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    &:hover {
        background-color: $hoverTileBackgroundColor;
        color: $hoverTileForegroundColor;
    }
}

.course-list-item-icon {
    font-size: 48px;

    // &:before {
        // content: "\f927";
        content: '\F67E';
    // }
}

.course-list-item-inner-text {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
}

.course-list-item-name {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 15px;
}

.course-list-item-description {
    font-weight: 400px;
    font-size: 14px;
}

.footer-container {
    position: fixed;
    background-color: $brandColorPrimary;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 50px;
    color: $brandColorSecondary;
    padding: 15px 0;
}

.footer-container-content {
    text-align: center;
}

.footer-container-text {

}