.nav { // div
    font-size: 24px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 25px 100px;
    box-shadow: 2px 2px 1px $figureColor;

    a, a:-webkit-any-link {
        background: none;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
        }
    }

}

#fullname {
    font-size: 48px;

    &:hover {
        #firstname:after {
            -webkit-animation: changeFirstName 2s ease forwards; /* Safari 4.0 - 8.0 */
            animation: changeFirstName 2s ease forwards;
        }

        #lastname:after {
            -webkit-animation: changeLastName 2s ease forwards; /* Safari 4.0 - 8.0 */
            animation: changeLastName 2s ease forwards;
        }
    }
}

#firstname:after {
    content: "Neil ";
}

@keyframes changeFirstName {
    0% { content: "LNei "; }
    25% { content: "LiNe "; }
    50% { content: "LieN "; }
    75% { content: "Lien "; }
    100% { content: "Lion "; }
}

#lastname:after {
    content: "Thawani";
}

@keyframes changeLastName {
    0% { content: "IThawan"; }
    12% { content: "InThawa"; }
    25% { content: "InaThaw"; }
    37% { content: "InawTha"; }
    50% { content: "InawaTh"; }
    62% { content: "InawahT"; }
    75% { content: "Inawhat"; }
    87% { content: "in a what"; }
    100% { content: "in a what?"; }
}

.nav-pills { // ul
    display: flex;
    flex-direction: row;
    height: 100%;

    li {
        position: relative;
        display: block;
        padding: 10px 15px;
        text-align: center;
        border-radius: 0px;
        background-color: $white;
        color: $figureColor;

        &:hover {
            text-decoration: none;
            background-color: $groundColor;
            color: $figureColor;
        }
    }
}

.mobile-nav-container {
    width: 100%;
    background-color: $white;
    color: $figureColor;
    padding: 10px 0;
    margin-bottom: 25px;
    box-shadow: 2px 2px 1px $figureColor;
}

.mobile-nav {
    text-align: center;
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;

    .mobile-nav-item {
        display: inline;

        a {
            background: none;
            text-decoration: none;
            padding: 10px 15px;
            text-align: center;
            border-radius: 0px;

            &:focus {
                text-decoration: none;
            }
        }
    }
}

.mobile-nav.contact-icons {
    justify-content: center;

    a {
        margin: 5px 20px 0 20px;
    }
}
