// Desktop
@media (min-width: $screen-desktop) {
    .visible-phone {
        display: none;
    }

    .hidden-phone {
        display: block;
    }
}

// Mobile
@media (max-width: $screen-desktop - 1px) {
    .hidden-phone {
        display: none;
    }

    .visible-phone {
        display: block;
    }
}
