{{#> base}}
   <div class="lego-robotics-camp-container">
      <h1 class="page-header">
         LEGO® Robotics Camp
      </h1>

      <h2 class="content-header">
         What is it?
      </h2>

      <div class="content-box">
         <p>
            We host a two-day weekend-long LEGO® robotics camp designed to introduce students to engineering principles using the LEGO® Education SPIKE™ Prime set.
         </p>
      
         <p>
            Students will learn about the components of the robot, how they work, and we'll talk about the social impacts of robotics in our world. Students will walk away from this course with a keen understanding of how sensors and gears work.
         </p>
      </div>

      <h2 class="content-header">
         What do you teach?
      </h2>

      <div class="content-box">
         <h3>
            Here's our lesson plan:
         </h3>

         <ul>
            <li>What is engineering?</li>
            <li>Are humans like machines?</li>
            <li>How do human sensors work?</li>
            <li>How does a robot work?</li>
            <li>Building a LEGO® Education SPIKE™ Prime car robot</li>
            <li>Following a line, navigating a maze</li>
            <li>Navigating a maze with multiple sensors</li>
            <li>Power and speed with gears</li>
            <li>Communicating a project or design</li>
            <li>LEGO® Robotics Jeopardy</li>
         </ul>
      </div>

      <h2 class="content-header">
         How much is it?
      </h2>

      {{!-- TODO: Review marketing sites. This should be a CTA button, for example. --}}
      <div class="content-box">         
         <h3>$200/camp</h3>
      </div>

      <h2 class="content-header">
         When is it?
      </h2>

      <div class="content-box">
         <h3 class="text-center">
            Two days (Saturday and Sunday), 10am-4pm
         </h3>

         <span>
            Interested in helping students learn robotics + computing? <a href="mailto:admin@rowschool.com&subject=Interested in Row School LEGO® Robotics Camp">Contact us</a> today!
         </span>
      </div>
   </div>
{{/base}}