{{#> base}}
	<h1 class="page-header">Our Philosophy</h1>

	<div class="content-container">
		<div class="content-box-outer">
			<div class="content-box-inner">
				<h1 class="text-center">What is a results-oriented work school?</h1>

				<span>
					The Row School model is based on the <a href="https://en.wikipedia.org/wiki/ROWE" rel="noopener"  target="_blank" rel="noreferrer">results-based work environment (ROWE)</a>, where employees are evaluated based on their performance and results rather than their physical presence at work or the number of hours they work. This flexibility encourages workplace employee autonomy and agency, which is something we want to foster for our students.
				</span>

				<span>
					As a ROW school, we:
				</span>

				<ul>
					<li>
						foster students' <strong>flexibility and autonomy</strong>
					</li>
					<li>
						<strong>focus on outcomes</strong>
					</li>
					<li>
						encourage students to develop a sense of <strong>accountability and responsibility</strong>
					</li>
					<li>
						facilitate <strong>collaborative learning</strong>
					</li>
					<li>
						<strong>iterate</strong> and improve consistently over time
					</li>
				</ul>
			</div>
		</div>

		<h1 class="text-center mb-20">How does it work?</h1>
		
		<div class="text-center even-columns-3">
			<div class="content-box-outer even-column">
				<div class="content-box-inner">
					<p class="content-box-name">Foster Students' Flexibility and Autonomy</p>
					<p class="content-box-description">
						<span>
							We take a <strong>student-centered approach</strong> to material. What are students interested in? <strong>What assets do they</strong> bring from their families or larger home communities? How do they express themselves and what do they do outside of school that they can bring to further understanding of subjects in the classroom, with their community of peers?
						</span>

						<span>
							We want students to enter a <strong>flow state</strong> and to devote large blocks of time for uninterrupted thinking, work, and play.
						</span>
					</p>
				</div>
			</div>

			<div class="content-box-outer even-column">
				<div class="content-box-inner">
					<p class="content-box-name">Focus on Outcomes</p>
					<p class="content-box-description">
						<span>
							We <strong>define clear learning objectives</strong> mapped to <strong>students' competences</strong>.
						</span>

						<span>
							We focus on <strong>quality of time</strong> rather than quantity of time spent in the classroom. Different students need different things, we use <strong>multi-tiered support strategies</strong> and <strong>individual education plans</strong> to help students achieve their goals.
						</span>

						<span>
							We focus on <strong>project-based assessment</strong>, building models or dioramas, conducting experiments, creating <strong>presentations to showcase knowledge</strong>, and <strong>building portfolios</strong> over time. We use multiple-choice assessments to <strong>clarify students' misconceptions</strong> and help <strong>improve understanding</strong>.
						</span>
					</p>
				</div>
			</div>

			<div class="content-box-outer even-column">
				<div class="content-box-inner">
					<p class="content-box-name">Develop a Sense of Accountability and Responsibility</p>
					<p class="content-box-description">
						<span>
							We create <strong>learning journeys</strong> for students, putting them in control of their learning and define set milestones to foster a <strong>growth mindset</strong>.
						</span>

						<span>
							Students develop a <strong>sense of ownership</strong> and responsibility for their learning.
						</span>

						<span>
							We encourage students to develop <strong>metacognitive skills</strong> by doing <strong>regular reflections</strong> - evaluating their own progress and identifying areas for improvement.
						</span>
					</p>
				</div>
			</div>
		</div>

		<div class="text-center even-columns-2">
			<div class="content-box-outer even-column">
				<div class="content-box-inner">
					<p class="content-box-name">Facilitate Collaborative Learning</p>
					<p class="content-box-description">
						<span>
							We facilitate <strong>collaborative group projects</strong>, grouping students to achieve their goals together.
						</span>

						<span>
							We employ <strong>peer feedback</strong> to create a <strong>safe and secure learning environment</strong> where students learn from one another and hold each other accountable to their self-defined learning paths.
						</span>
					</p>
				</div>
			</div>

			<div class="content-box-outer even-column">
				<div class="content-box-inner">
					<p class="content-box-name">Iterate and Improve Consistently Over Time</p>
					<p class="content-box-description">
						<span>
							We <strong>co-create norms</strong> together and teach students how to <strong>conduct constructive critiques</strong> that encourage their peers to learn and grow over time in a <strong>positive and supportive learning environment</strong>.
						</span>

						<span>
							Opportunities for learning are <strong>varied</strong> and subjects are <strong>revisited often</strong>, creating multiple cognitive surface areas for learning to stick.
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>
{{/base}}