<div class="visible-phone mobile-nav-container">
  <ul class="mobile-nav">
    <li class="mobile-nav-item"><a href="/">Home</a></li>
    <li class="mobile-nav-item"><a href="/#projects">Projects</a></li>
    <li class="mobile-nav-item"><a href="/blog">Blog</a></li>
  </ul>

  <ul class="mobile-nav contact-icons">
    <li class="mobile-nav-item">
      <a href="/meet.html">
        <i class="ii ii-calendar-clock"></i>
      </a>
    </li>

    <li class="mobile-nav-item">
      <a href="http://www.twitter.com/lioninawhat" target="_blank" rel="noopener">
        <i class="ii ii-twitter"></i>
      </a>
    </li>

    <li class="mobile-nav-item">
      <a href="http://www.linkedin.com/in/neilthawani" target="_blank" rel="noopener">
        <i class="ii ii-linkedin-box"></i>
      </a>
    </li>

    <li class="mobile-nav-item">
      <a href="http://github.com/neilthawani" target="_blank" rel="noopener">
        <i class="ii ii-github"></i>
      </a>
    </li>
  </ul>
</div>

<div class="hidden-phone">
  <div class="nav">
    <a id="fullname" href="/">
      <span id="firstname">&nbsp;</span>
      <span id="lastname"></span>
    </a>

    <ul class="nav-pills">
      <a href="/#projects">
        <li>Projects</li>
      </a>

      <a href="/blog">
        <li>Blog</li>
      </a>

      <a href="/meet.html">
        <li><i class="ii ii-calendar-clock"></i></li>
      </a>

      <a href="http://www.twitter.com/lioninawhat" target="_blank" rel="noopener">
        <li><i class="ii ii-twitter"></i></li>
      </a>

      <a href="http://www.linkedin.com/in/neilthawani" target="_blank" rel="noopener">
        <li><i class="ii ii-linkedin-box"></i></li>
      </a>

      <a href="http://github.com/neilthawani" target="_blank" rel="noopener">
        <li><i class="ii ii-github"></i></li>
      </a>
    </ul>
  </div>
</div>
