<div class="visible-phone mobile-nav-container">
  <ul class="mobile-nav">
    <li class="mobile-nav-item"><a href="/">Home</a></li>
    <li class="mobile-nav-item"><a href="/blog">Blog</a></li>
    <li class="mobile-nav-item"><a href="/vision">Vision</a></li>
    <li class="mobile-nav-item"><a href="/resource-library">Resources</a></li>
  </ul>
</div>

<div class="hidden-phone">
  <div class="nav">
    <ul class="nav-pills">
      <a href="/">
        <li>Home</li>
      </a>

      <a href="/blog">
        <li>Blog</li>
      </a>

      <a href="/vision">
        <li>Vision</li>
      </a>

      <a href="/resource-library">
        <li>Resources</li>
      </a>
    </ul>
  </div>
</div>
