<div class="visible-phone mobile-nav-container">
  <ul class="mobile-nav">
    <li class="mobile-nav-item"><a href="/">Home</a></li>
    <li class="mobile-nav-item"><a href="/#projects">Work</a></li>
    <li class="mobile-nav-item"><a href="/blog">Blog</a></li>
    <li class="mobile-nav-item"><a href="/contact">Contact</a></li>
  </ul>
</div>

<div class="hidden-phone">
  <div class="nav">
    <ul class="nav-pills">
      <a href="/">
        <li>Home</li>
      </a>

      <a href="/blog">
        <li>Blog</li>
      </a>

      {{!-- <a href="/work">
        <li>Work</li>
      </a> --}}

      {{!-- <a href="/contact">
        <li>Contact</li>
      </a> --}}
    </ul>
  </div>
</div>
