<div class="visible-phone mobile-nav-container">
  <button id="mobile-menu-button" class="mobile-menu-button" type="button" aria-label="Toggle navigation menu" aria-controls="mobile-menu-dropdown" aria-expanded="false">
    <span class="mobile-menu-button-line"></span>
    <span class="mobile-menu-button-line"></span>
    <span class="mobile-menu-button-line"></span>
  </button>

  <div id="mobile-menu-dropdown" class="mobile-menu-dropdown" aria-hidden="true">
    <a class="mobile-menu-dropdown-group-item" href="/">Home</a>
    <a class="mobile-menu-dropdown-group-item" href="/philosophy">Our Philosophy</a>
    <a class="mobile-menu-dropdown-group-item" href="/blog">Blog</a>
    <a class="mobile-menu-dropdown-group-item" href="/vision">Vision</a>
    <a class="mobile-menu-dropdown-group-item" href="/resources">Resources</a>
  </div>
</div>

<div class="hidden-phone">
  <div class="nav">
    <ul class="nav-pills">
      <a href="/">
        <li>Home</li>
      </a>

      <a href="/philosophy">
        <li>Our Philosophy</li>
      </a>

      <a href="/blog">
        <li>Blog</li>
      </a>

      <a href="/vision">
        <li>Vision</li>
      </a>

      <a href="/resources">
        <li>Resources</li>
      </a>
    </ul>
  </div>
</div>
