@import "variables"; // variables MUST go first
@import "icons";
@import "grid";
@import "tags";
@import "colony/main";

.text-center {
    text-align: center;
}

.main-container {
    width: 75%;
    margin: 50px auto 100px auto;
    color: $textColor;
}

.content-container {
    max-width: 75%;
    margin: 0 auto;
}

.content-text {
    line-height: 1.2;
    display: block;
    font-size: 18px;
    margin-bottom: 18px;
}

.content-text-large {
    line-height: 1.2;
    display: block;
    font-size: 24px;
    margin-bottom: 18px;
}

.header-text {
    text-align: center;
    font-weight: normal;
}

.header-text-logo {
    font-size: 84px;
    font-weight: 200;
    line-height: 1;
    margin: 20px 0;
}

.header-text-description {
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.course-list {
    text-align: center;
    padding: 30px 0;
}

.course-list-item-outer {
    width: 300px;
    height: 200px;
    background-color: $brandColorPrimary;
    padding: 5px;
    margin: 20px 5px;
    position: relative;
    box-shadow: 3px 3px $boxShadowColor;
}

.course-list-item-inner {
    padding: 30px 10px 0px 10px;
    background-color: $backgroundColor;
    color: $textColor;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    cursor: pointer;

    &:hover {
        background-color: $hoverTileBackgroundColor;
        color: $hoverTileForegroundColor;
    }
}

.course-list-item-icon {
    font-size: 48px;
}

.course-list-item-inner-text {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
}

.course-list-item-name {
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 15px;
}

.course-list-item-description {
    font-weight: 400px;
    font-size: 14px;
}

.footer-container {
    position: fixed;
    background-color: $brandColorPrimary;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 50px;
    color: $brandColorSecondary;
    padding: 15px 0;
}

.footer-container-content {
    text-align: center;
}

.footer-container-text {

}
