// Colors
$brandColorPrimary: #862222; // red
$brandColorSecondary: #C5B358; // yellow
$textColor: #333;
$backgroundColor: #eee;
$hoverTileBackgroundColor: #ddd;
$hoverTileForegroundColor: #CA2222; // lighter red
$boxShadowColor: #444;
$borderColor: $brandColorPrimary;

// Responsiveness
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-desktop-large: 1200px;
