{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>The <strong>purpose of assessment</strong> is for students to acquire the problem-solving skills and deep understanding to achieve the goal of <strong>far transfer</strong> to novel domains. This aim stands in stark contrast to traditional classroom tests and standards-based assessments which focus mostly on recognition and recall of course content.</p>
        <p>Carver outlines an <strong>assessment triangle</strong> consisting of:</p>
        <ol>
            <li>
                an explicit **model of both deep understanding** and the **process of acquiring it**
            </li>
            <li> **tasks carefully designed to assess the targeted knowledge** together with reliable scoring methods based on the original model and
            </li>
            <li>
                a **valid process for drawing inferences from performance** typically involving triangulation across diverse tasks.
            </li>
        </ol>
        <p>To support instructors and instructional designers in aligning assessment to the goal of deep understanding Carver points to three intervention case studies published by the Design-Based Research Collective (2003) stating: <strong>assessment results can only be interpreted in the context of understanding the teaching/learning processes that actually occurred</strong> (i.e. in contrast to the idealized design).</p>
        <p>Carver asserts that learning sciences researchers need to … determine which data to collect under what conditions as well as which data not to collect (diSessa &amp; Cobb 2004; Kelly 2004).</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}