{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>How do students internalize and retain knowledge? And why do they fail to remember previous learnings? The heart of the problem may lie with <strong>transfer - the ability to apply skills to a new context successfully</strong>. The aim for learners in any educational context then is to <strong>develop mastery by acquiring integrating and knowing when to apply knowledge and skills</strong>.</p>
        <p>Novices operate in the domain of unconscious incompetence - missing vital information making unnecessary mistakes and functioning inefficiently. They may become confused discouraged and are unlikely to learn with optimal efficiency or thoroughness. This happens because when applying multiple component skills in concert novices must pay attention to and process a great deal of information but are limited by the amount they can pay attention to and process at one time. <strong>This cognitive load of executing and coordinating these skills is reflected in their errors and mistakes</strong>.</p>
        <p>Compared to novices <strong>experts organize knowledge into large conceptual chunks</strong> which allow them to access and apply knowledge with considerably more ease (Chase &amp; Simon 1973b; Chase &amp; Ericsson 1982; Koedinger &amp; Anderson 1990). Experts because of prior experiences are able to recognize meaningful patterns because of the shortcuts created by these memory chunks and link specific information to deeper principles and schemas. This results in greater transfer. Because of the greater practice they have within a particular domain experts' component skills tend to be highly automated resulting in unconscious competence tied to the fluency of their skills.</p>
        <p><strong>Like experts instructors often undertake tasks with unconscious competence.</strong> This means that sometimes the leaps they make will make it so students won’t be able to follow their steps without explication and instructors may underestimate the time it will take students to learn and perform these tasks.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}