{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Interest &amp; Motivation</h1>

    <article class="blog-post-content">
        Instructors can <strong>administer diagnostic assessments</strong><span style=font-weight: 400;> before instruction is delivered identifying the level of challenge that is appropriate to students before creating assignments.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published September 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}