{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Wiggins and McTighe define a dispositional trait for instructors to <em>think like assessors</em>. This is in light of the intuition for instructors to think like instructional designers rather than initially participating in the backward planning process. This call for authenticity aligns with the work of Benjamin Bloom and colleagues (Bloom Madaus &amp; Hastings 1981 p. 265) wherein <strong>school tests are created with context in mind and parallel the world outside of school - where goals and criteria for success are often transparent</strong>.</p>
        <p>They then provide several means of performing assessment iterating them along with a list of intended outcomes:</p>
        <ul>
            <li>performance tasks</li>
            <li>academic prompts</li>
            <li>quizzes and test items</li>
            <li>informal checks for understanding and</li>
            <li>other checks of understanding (e.g. oral questions concept maps portfolios observations dialogues).</li>
        </ul>
        <p>The intent of assessing for understanding is to allow students to show their work and <strong>reveal their thinking</strong> reducing the work of the instructor to infer students' learning. These assessment components should include <em>explanation interpretation application perspective empathy and self-knowledge detailed in UbD</em>. By giving students many opportunities to showcase their understanding it then becomes <strong>an accumulation of evidence over time</strong> rather than something like a cumulative exam in which a single grade provides feedback to the instructor about student learning. </p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}