{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Understanding Types of Goals</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Metacognition</span><span style=font-weight: 400;> refers to “the process of reflecting on and directing one’s own thinking” (National Research Council 2001 p. 78).</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published October 03, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}