{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Interest &amp; Motivation</h1>

    <article class="blog-post-content">
        Studies can be undertaken to <strong>investigate the benefits of in-person lectures compared to reading a textbook</strong><span style=font-weight: 400;>. Does communicating with others or asking questions in class support </span><strong>research on active learning</strong><span style=font-weight: 400;>?</span></p>
        <p>&nbsp;</p>
        Research can also be conducted on distributing motivational supports and <strong>putting reminders and rewards into the environment</strong><span style=font-weight: 400;> in order to achieve self-defined goals. A previous study by Oppezzo and Schwartz (2013) found that these strategies worked for students who wanted to increase the amount of fruits and vegetables in their diets compared to those who were taught self-talk strategies.</span></p>
        <p>&nbsp;</p>
        Students should also be instructed to <strong>monitor their sleep habits</strong><span style=font-weight: 400;> so that researchers can </span><strong>measure their problem-solving abilities along various dimensions</strong><span style=font-weight: 400;> like in a study conducted by Beijamini Pereira Cini and Louzada (2014).</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published September 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}