{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Research can investigate and extend <strong>Ebbinghaus' (1885) study of memory for nonsense syllables</strong> like those studies conducted by medical educators on anatomy students. What is the forgetting curve? Can students be primed to study topics subjects or facts at specific intervals to retain knowledge and can commercial applications like the app <strong>SuperMemo</strong> be brought into the educational technology space to <strong>bolster students' memories</strong> successfully? <strong>Evidence shows (Shulman 1999) that courses can be changed to do so.</strong></p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}