{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD as an Iterative Process</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Instruction much like real world tasks is to be approached and built after a series of compromises which determine the right balance of elements in the instructional design. After an initial version instructors can see how their design works </span><strong>iterate and get feedback</strong><span style=font-weight: 400;> against desired results and content/design standards.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Good instruction consists of activities exercises and presentations aligned with overarching important questions. Those questions which capture student interest are most likely to be Big Ideas - the sometimes paradoxical and often counterintuitive </span><strong>Truths of the discipline</strong><span style=font-weight: 400;>. Capturing student interest can lead to meaning- and sense-making as students themselves iterate on their own knowledge throughout the course via depth and breadth by uncovering and constructing it themselves.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published October 15, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}