{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Strategic Learning for EGIA</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>The goals relevant to this piece involve </span><strong>optimizing learning</strong><span style=font-weight: 400;> using the strategies suggested - these include </span><strong>time management techniques</strong><span style=font-weight: 400;> and </span><strong>active studying</strong><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Studying is best done in a quiet place with social media turned off. This is because </span><strong>switching attention between tasks makes learning less effective</strong><span style=font-weight: 400;> and social media is a distraction more often than not.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Putnam et al. advise learners to study actively using “Read Recite Review.” </span><strong>An example of Read-Recite-Review</strong><span style=font-weight: 400;> is recalling the big ideas of a chapter you just read from memory. To consolidate memories formed during studying </span><strong>get plenty of sleep</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

    <p class="blog-post-created-at">Published August 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}