{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD as an Iterative Process</h1>

    <article class="blog-post-content">
        The purpose of planning course content is to <strong>achieve predictable results</strong><span style=font-weight: 400;>. The purpose of </span><strong>improvisation</strong><span style=font-weight: 400;> in a course such as </span><strong>breaking through students’ pre-existing mental models</strong><span style=font-weight: 400;> is to maintain progress.</span></p>
        <p>&nbsp;</p>
        To target results instructors should <strong>begin with content standards</strong><span style=font-weight: 400;> and consider </span><strong>real-world applications</strong><span style=font-weight: 400;> of course content. This helps zero in on Big Ideas or essential questions to focus teaching. What are the enduring understandings to be gained by students? What transferable skills will they gain? What evidence of learning will be produced? Answering these questions leads to the creation of more meaningful course work. It also heightens teacher attentiveness in the moment of instruction potentially enhancing learners' experiences.</span></p>
        <p>&nbsp;</p>
        The goal of backwards planning in courses then is to <strong>ensure students acquire knowledge and skills in order to handle key tasks in the field</strong><span style=font-weight: 400;> as they construct and then apply knowledge without real-world penalties. As they </span><strong>train themselves</strong><span style=font-weight: 400;> and develop the habits of mind in the classroom they prepare themselves to </span><strong>perform outside the classroom</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

    <p class="blog-post-created-at">Published October 15, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}