{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Primary Resource Perspectives</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Ambrose et al. ask on behalf of teachers in “How Learning Works”: </span><strong>Why can’t students apply what they have learned? Why do they cling so tightly to misconceptions? Why are they not more engaged by interesting material? Why do they claim to know so much more than they actually know? Why do they continue to employ the same ineffective study strategies?</strong></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Wiggins and McTighe pose </span><strong>some answers</strong><span style=font-weight: 400;> in Understanding By Design:&nbsp;</span></p>
        <p><span style=font-weight: 400;>Students’ </span><strong>motivation</strong><span style=font-weight: 400;> determines directs and sustains what they do to learn. When students find positive value in a learning goal or activity expect to successfully achieve a desired learning outcome and perceive support from their environment they are likely to be strongly motivated to learn. Students’ </span><strong>prior knowledge can help or hinder learning</strong><span style=font-weight: 400;> and their current level of development interacts with the social emotional and intellectual climate of the course to impact learning as well.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>The UbD authors then ask: </span><strong>What must course planning entail to have an intellectual impact on everyone</strong><span style=font-weight: 400;>: the less experienced; the highly able but unmotivated; the less able; those with varied interests and styles?</span></p>
        <p>&nbsp;</p>
        <p><strong>Goal-directed practice</strong><span style=font-weight: 400;> coupled with </span><strong>targeted feedback</strong><span style=font-weight: 400;> enhances the quality of students’ learning. This feedback should explicitly communicate about some aspect(s) of students’ performance relative to specific target criteria provide information to help students progress in meeting those criteria and be given at a time and frequency that allows it to be useful.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Students who then internalize how to give and receive feedback to themselves and learn to monitor and adjust their approaches to learning have the opportunity to transform into </span><strong>self-directed learners in pursuit of mastery</strong><span style=font-weight: 400;>. In order to progress toward mastery of a course students must acquire its component skills practice integrating them and know when to apply what they have learned.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published September 03, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}