{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        Although students in Deslauriers et al.'s (2018) study on physics courses perceived that they learn less in actively taught classes compared to traditional passive lecture courses they scored higher on tests in those courses where small group activities supplemented traditional lectures. The actively taught physics lectures taught in this study featured chalkboard lectures enhanced with <strong>frequent physics demonstrations interactive quizzes and conceptual questions as in-class activities</strong><span style=font-weight: 400;>. With regard to addressing students' perceptions (or FOL - feeling of learning) regarding actively taught courses it benefits students' FOL if </span><strong>instructors persuade them that they are benefitting from active instruction - as the data indisputably suggest</strong><span style=font-weight: 400;>.&nbsp;</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published November 07, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}