{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Museum Education</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Because the museum outlines how its exhibits fulfill the PA Early Childhood Education Standards requirements on its website I imagine that instructors might be able to derive assessments related to those learning objectives.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published November 14, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}