{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD&#39;s Instructional Design Approach</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>How are the most effective </span><strong>textbooks</strong><span style=font-weight: 400;> structured? What activities and questions do they pose to students to further understanding? What illustrations and problems facilitate and scaffold student learning best?</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published October 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}