{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD&#39;s Instructional Design Approach</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Applying problem-based learning and the case method to pique students' interest </span><strong>immerses students in the process of understanding</strong><span style=font-weight: 400;>. By attempting to learn students make sense of teaching and construct their own knowledge. This means that </span><strong>understanding is not given but earned</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published October 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}