{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Learning Science Research Decisions</h1>

    <article class="blog-post-content">
        In the design of instruction practitioners often show little interest in what researchers have produced because research is often too abstract and decontextualized to be readily used by practitioners. Practitioners are also skeptical about whether research will apply or scale up to the complexities of authentic settings. In turn researchers are critical of the methods and experience of practitioners and often develop solutions to educational problems with little direct input from teachers or school leaders. However there have been successful collaborations (35 36).</p>
        <p>&nbsp;</p>
        Educational psychology researchers will investigate the basic structures and processes of attention memory perception cognition and language without framing the scientific knowledge appropriately for practitioners. Examples are not limited to research that specifically seeks to develop cognitively and epistemologically based theories of instruction and instructional design (3 51 53–55).</p>
        <p>&nbsp;</p>
        Theories of cognition are descriptive but not prescriptive so practitioners working from such theories must make many decisions during planning and teaching that are not stipulated by the learning research. Teachers need application-ready ideas that allow them to create and carry out classroom activities while enriching their understanding of thinking and learning. Such ideas are present in sources (41 and 42) and an example of this is the adoption of activities intended to target People of Color such as dominoes and basketball which are seen as racially stereotyped activities by both in-group and out-group members (126) but are also highly demanding and engaging activities that can provide an effective locus for the development of mathematical knowledge.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published November 21, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}