{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evidence of Effective Implementation &amp; Impact</h1>

    <article class="blog-post-content">
        Carver refers to the work of McAfee Leong &amp; Bodrova (2004) stating that <strong>effective assessments are sound sensitive and systematic.</strong></p>
        <p><br><strong>Sensitive assessments</strong> <strong>align the developmental characteristics of learners to their learning contexts</strong><span style=font-weight: 400;> (e.g. younger students require more careful wording and visual cues). Sensitive assessments also </span><strong>take into account individual differences</strong><span style=font-weight: 400;> including culture and gender effects which can enhance both the internal validity of the assessment and its generalizability.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}