{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Assessment Research</h1>

    <article class="blog-post-content">
        <p><strong>Instructors must be aware of their blind spots</strong><span style=font-weight: 400;> regarding their performance in tasks they have been doing for a long time. Schwartz et al. mention the </span><span style=font-weight: 400;>expert blind spot</span><span style=font-weight: 400;> where professionals don’t know how they do things (with conscious awareness) because their prior practice resulted in </span><span style=font-weight: 400;>chunking</span><span style=font-weight: 400;> which automated many of the subprocedures involved in the task. This frees up working memory and enables the expert to further enhance their abilities.</span></p>
        <p><br><span style=font-weight: 400;>Teachers can also encourage students to </span><strong>metacognitively review their own work</strong><span style=font-weight: 400;> considering baselines of performance comparing them to their own and deliberately correcting work to improve and further the pursuit of task mastery.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published October 10, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}