{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Goal Specification in UbD and Beyond</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Research can investigate and extend </span><strong>Ebbinghaus' (1885) study of memory for nonsense syllables</strong><span style=font-weight: 400;> like those studies conducted by medical educators on anatomy students. What is the forgetting curve? Can students be primed to study topics subjects or facts at specific intervals to retain knowledge and can commercial applications like the app </span><strong>SuperMemo</strong><span style=font-weight: 400;> be brought into the educational technology space to </span><strong>bolster students' memories</strong><span style=font-weight: 400;> successfully? </span><strong>Evidence shows (Shulman 1999) that courses can be changed to do so.</strong></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published October 01, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}