{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evidence of Effective Implementation &amp; Impact</h1>

    <article class="blog-post-content">
        To align instruction with goals instructors can <strong>create a table listing each of the learning objectives related to deep understanding the specific curriculum emphasis for each objective the theoretical rationale for each activity and the plans for documenting the actual implementation.</strong><span style=font-weight: 400;> Carver states that instructors should present learners with multiple opportunities to apply their knowledge.</span></p>
        <p>&nbsp;</p>
        Carver also observes that the instructional method of <strong>guided discovery was preferred to direct instruction</strong><span style=font-weight: 400;> especially when the former preceded the latter. Instructors in designing courses should take into account the open-ended nature of guided discovery as it takes longer than direct instruction to administer</span><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}