{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p><strong>Instructors must be aware of their blind spots</strong> regarding their performance in tasks they have been doing for a long time. Schwartz et al. mention the expert blind spot where professionals don’t know how they do things (with conscious awareness) because their prior practice resulted in chunking which automated many of the subprocedures involved in the task. This frees up working memory and enables the expert to further enhance their abilities.</p>
        <p>Teachers can also encourage students to <strong>metacognitively review their own work</strong> considering baselines of performance comparing them to their own and deliberately correcting work to improve and further the pursuit of task mastery.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}