{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>"Culture is <strong>a fuzzy set of basic assumptions and values orientations to life beliefs policies procedures and behavioural conventions that are shared by a group of people</strong> and that influence (but do not determine) each member's behaviour and his/her interpretations of the 'meaning' of other people's behaviour."</p>
        <p>Young (2009) states: "Culture is significant to how learners learn. <strong>It is the way learners see the world and themselves in it.</strong>"</p>
        <p>"Learning can also be characterized in different ways. In this book we adopt the broad definition of learning as <strong>a change in knowledge skills or attitudes as a result ‘of experience study or being taught.’</strong> As such we recognize that <strong>learning is a cultural process</strong>: a variety of ideas life experiences traditions and beliefs of a learner integrated within activities at home school church sports; and communities (Nasir Rosebery Warren &amp; Lee 2006)."</p>
        <p>"<em>While many think of technology as tools and artifacts</em> we define technology to <strong>include both process and product technology</strong> (Reiser 2001a; 2001b).</p>
        <p>Product technologies include the tools and artifacts or media which most people readily recognize as technologies. These tools are often used for the design delivery and mediation of learning and communications. Some examples of product technologies are learning management systems for virtual learning delivery whiteboards for in-class instruction and ebooks and tablets for homework assignments.</p>
        <p>Process technologies on the other hand are the models and methods that guide the design and development Of curriculum and instruction. These include curriculum and instructional design process teaching methods and instructional strategies."</p>
        <p>AECT's revised definition of educational technology is <strong>the study and ethical</strong></p>
        <ul>
            <li><strong>practice of facilitating learning and improving performance by creating using and</strong></li>
            <li><strong>managing appropriate technological processes and resources.</strong></li>
        </ul>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}