{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>It benefits instructors to break down objectives for student learning into component skills. For example to analyze a case study students must first be able to identify the central question or dilemma of the case articulate the perspectives of key actors enumerate constraints delineate possible courses of action and recommend and justify a solution.</p>
        <p>Instructors can benefit from performing Cognitive Task Analysis with novice student learners to address misconceptions they may encounter during instruction. Lovett's (2001) work on cognitive tutors and component skills analysis supports these statements; <strong>by unpacking complex tasks instructors can teach complex skills more effectively</strong>. Likewise if students practice component skills temporarily in isolation and then progressively combine them they will learn more effectively (White &amp; Frederickson 1990; Wightman &amp; Lintern 1985; Salden Paas &amp; van Merrienboer 2006). <strong>Whether students should focus on isolated or whole-task practice depends on the learning objectives of the course and how instructors manage student's cognitive load to maximize time on task for those component skills that are most germane to the course's learning objectives</strong>. Even if students have engaged in high-quality practice they still need a sufficient quantity of practice for the benefits to accumulate (Healy Clawson &amp; McNamara 1993; Martin Klein &amp; Sullivan 2007).</p>
        <p>This kind of instructional scaffolding relates to <strong>Vygotsky’s Zone of Proximal Development</strong> which defines the optimal level of challenge for a student’s learning in terms of a task that the student cannot perform successfully on his or her own but could perform successfully with some help from another person or group.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}