{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evidence of Effective Implementation &amp; Impact</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>The </span><strong>purpose of assessment</strong><span style=font-weight: 400;> is for students to acquire the problem-solving skills and deep understanding to achieve the goal of </span><strong>far transfer</strong><span style=font-weight: 400;> to novel domains. This aim stands in stark contrast to traditional classroom tests and standards-based assessments which focus mostly on recognition and recall of course content.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Carver outlines an </span><strong>assessment triangle</strong><span style=font-weight: 400;> consisting of:</span></p>
        <ol>
            <li> <span style=font-weight: 400;> an explicit </span><strong>model of both deep understanding</strong><span style=font-weight: 400;> and the </span><strong>process of acquiring it</strong><span style=font-weight: 400;>&nbsp;</span> </li>
            <li> <strong>tasks carefully designed to assess the targeted knowledge</strong><span style=font-weight: 400;> together with reliable scoring methods based on the original model and&nbsp;</span> </li>
            <li> <span style=font-weight: 400;> a </span><strong>valid process for drawing inferences from performance</strong><span style=font-weight: 400;> typically involving triangulation across diverse tasks.</span> </li>
        </ol>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>To support instructors and instructional designers in aligning assessment to the goal of deep understanding Carver points to three intervention case studies published by the Design-Based Research Collective (2003) stating: </span><strong>assessment results can only be interpreted in the context of understanding the teaching/learning processes that actually occurred</strong><span style=font-weight: 400;> (i.e. in contrast to the idealized design).</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Carver asserts that learning sciences researchers need to ... determine which data to collect under what conditions as well as which data not to collect (diSessa &amp; Cobb 2004; Kelly 2004).</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}