{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>There were not many implications for assessment in these two readings. Perhaps oral exams may be impacted - if there is a time limit on how students present information to an instructor </span><strong>they may feel pressured to conform to cultural norms outside of their own</strong><span style=font-weight: 400;>. This could </span><strong>increase cognitive load and lead to poorer assessment outcomes</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published November 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}