{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Early Childhood Education</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>The foundation for EGIA’s course name is the </span><span style=font-weight: 400;>Goals Program Assessment Approach</span><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        <p><strong>Goals:</strong></p>
        <p><span style=font-weight: 400;>- Detailed task analysis</span></p>
        <p><span style=font-weight: 400;>- Considering developmental level</span></p>
        <p><span style=font-weight: 400;>- Considering knowledge base</span></p>
        <p><span style=font-weight: 400;>- Considering available time</span></p>
        <p>&nbsp;</p>
        <p><strong>Program:</strong></p>
        <p><span style=font-weight: 400;>- Explicit focus on target</span></p>
        <p><span style=font-weight: 400;>- Consistent with cognitive principles</span></p>
        <p>&nbsp;</p>
        <p><strong>Assessment:</strong></p>
        <p><span style=font-weight: 400;>- Cognitive assessments of process</span></p>
        <p><span style=font-weight: 400;>- Covering the full target</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published September 24, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}