{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Early Childhood Education</h1>

    <article class="blog-post-content">
        One research opportunity is <strong>studying the impact on children's developing concepts when teachers refine their use of strategies such as concept webbing</strong><span style=font-weight: 400;> and extended thematic units and modifications like adding images to webs.</span></p>
        <p>&nbsp;</p>
        There is also an opportunity to conduct research on <strong>information-processing theories with foundations in psychology developed via research in laboratory schools</strong><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        How do teachers' theoretical concepts deepen and become better integrated as they develop an understanding of educational research and practice? Carver posits they become more experimental in their classrooms - purposely trying different strategies with different children or groups in a more reflective way than previously witnessed.</p>
        <p>&nbsp;</p>
        <p><strong>Can we understand the processes of teaching and learning well enough to provide ideal learning environments for varied individuals at all levels of the system?</strong><span style=font-weight: 400;> Future research can include an integration of social cognitive and physical development in a realistic context by adhering to the following:</span></p>
        &nbsp;</p>
        <ol>
            <li> <span style=font-weight: 400;> Develop practical techniques for </span><strong>streamlined task analysis</strong><span style=font-weight: 400;>.</span> </li>
            <li> <span style=font-weight: 400;> </span><strong>Specify the set of meta principles</strong><span style=font-weight: 400;> that serves as the foundation for your instructional designs and write about them more fully than is typically allowed in our field's journals.&nbsp;</span> </li>
            <li> <span style=font-weight: 400;> </span><strong>Experiment with assessments</strong><span style=font-weight: 400;> that are short and straightforward enough to be used for large numbers of children in school contexts.&nbsp;</span> </li>
        </ol>
        4. <strong>Develop scoring systems and analysis techniques</strong><span style=font-weight: 400;> that can be used validly and reliably even in non-standardized contexts with a wide range of learners.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published September 24, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}