{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>How can we measure the <strong>effectiveness of sociocultural interventions</strong> in the classroom and the impact of teachers <strong>influencing students to change their beliefs around normative behavior</strong> in the classroom?</p>
        <p>Bartolome (1994) states that recent research studies have identified educational programs [that were] found to be successful in working with culturally and linguistically subordinated minority student populations (Carter &amp; Chatfield 1986; Lucas Henze &amp; Donato 1990; Tikunoff 1985; Webb 1987) and that <strong>there has been specific interest in identifying teaching strategies that more effectively teach culturally and linguistically 'different' students and other 'disadvantaged' and 'at-risk' students</strong> (Knapp &amp; Shields 1990; McLeod in press; Means &amp; Knapp 1991; Tinajero &amp; Ada 1993).</p>
        <p><strong>Studies have found educators who can successfully employ students’ culturally valued language practices while introducing them to more conventional and academically acceptable ways of using language.</strong> This phenomenon is colloquially called code-switching. However there must be a way as Au and Mason (1983) state to achieve cultural congruence in lessons to <strong>seek a balance between the interactional rights of teachers and students so that the children can participate in ways comfortable to them</strong> while remaining conflict-free. Macedo (1993) in his call for an anti-methods pedagogy calls for a rejection of the mechanization of intellectualism [and a] challenge [to] teachers to work toward <strong>reappropriation of endangered dignity and toward reclaiming our humanity</strong>. Congruently Rydell McConnell &amp; Beilock (2009) have found that helping people to think about themselves as <strong>having multiple identities</strong> in particular focusing on those facets of their identity that are in-group (e.g. college student) rather than out-group (e.g. female) improves performance for those at risk of stereotype threat.</p>
        <p>Future studies can focus on the implications of stereotype threat in the context of classrooms that employ these teaching strategies with pre-intervention classrooms as a control group.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}