{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Inclusive Teaching</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Teachers by permitting learners to speak from their own vantage points create learning contexts where students are able to empower themselves throughout the </span><span style=font-weight: 400;>strategic learning</span><span style=font-weight: 400;> process. If a teacher listens to his student and comes to understand her personality history and academic strengths and weaknesses he prepares students for the world she will create after commencement by building a bridge between his instructional practices and how the student conducts herself outside the classroom. This is because educational institutions are socializing institutions that mirror the greater society's culture values and norms (Bartolome 1994). Diverse students will enter a diverse world in order to improve our social systems and </span><strong>it is imperative for teachers to understand where students come from and then to unify norms in the classroom.&nbsp;</strong></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>When assessing their perceptions of students from potentially subordinated populations teachers mitigate the chance of creating mechanistic one-sided teacher-student relations and instead are given the opportunity to interact in meaningful ways with students to </span><i><span style=font-weight: 400;>share knowledge without creating a stratified classroom which mirrors our current larger society in its struggle for power.</span></i><span style=font-weight: 400;> Teachers are able to understand what students already know and enable them to link it with new information.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>In addition if teachers don't encounter certain situations themselves they don't recognize when students are in those situations such as anxiety about not fitting in or being viewed as other-than. Students feel like they belong to their respective groups and upon entering the classroom </span><strong>it behooves teachers to acknowledge that reality and help students to understand that their differences do not present a barrier for belonging or succeeding in class.</strong><span style=font-weight: 400;> In fact teachers can help students with the difficulties they may experience in class by asserting that </span><i><span style=font-weight: 400;>previous students have faced and overcome these same trials</span></i><span style=font-weight: 400;>. Students who don't feel like they belong in the classroom may otherwise not participate distracted by a sense of alienation.&nbsp;</span></p>
        <p><br><span style=font-weight: 400;>Students' (and people's) perceptions shape their realities and Boaler and Greeno (2010) found that students who were successful in mathematics believed that creative thinking and being a math person were </span><strong>perceptions constructed based on their experiences.</strong><span style=font-weight: 400;> When teachers create learning conditions for students who are perceived as low status to demonstrate their competence they are able to see themselves and be seen by their peers as competent creates </span><span style=font-weight: 400;>a democratic learning environment</span><span style=font-weight: 400;> conducive to cooperative learning (Cohen 1986) and where students will expect respectful treatment. </span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published September 12, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}