{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Students can perform well on assessments without truly understanding the material and those who understand the material might forget facts or mix them up.</p>
        <p>The goal of the instructor is to ensure that students don't:</p>
        <ul>
            <li>make clever guesses</li>
            <li>regurgitate from memory what was learned</li>
            <li>put forth lots of hard work and enthusiasm</li>
            <li>produce products and performances or</li>
            <li>apply their natural competences well</li>
        </ul>
        <p>while having little to no understanding about the content. In this context understanding is qualified by <strong>students building mental models around a course’s Big Ideas while meeting course performance goals and achieving high scores/grades</strong> while doing so.</p>
        <p>This requires that task/goal alignment and assessment/goal alignment in addition to understanding what learners have understood in the course itself.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}