{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Goal Specification in UbD and Beyond</h1>

    <article class="blog-post-content">
        Students ought to be able to use their knowledge and apply it in diverse settings. This means that transfer is the outcome of successful understanding. <strong>Can students apply what they have learned to novel situations effectively? Are their ideas flexible enough to cut through perceived misunderstandings?</strong><span style=font-weight: 400;> This is the core of the intention of assessment.</span></p>
        <p>&nbsp;</p>
        Following administration of assessment teachers can evaluate students' misunderstandings and thereby understand their knowledge and abilities. <strong>Misunderstandings are a consequence of unsuccessful knowledge transfer and mistakes are a chance to evaluate refine and reapply knowledge in future assessments.</strong></p>
        <p>&nbsp;</p>
        However when students transfer what knowledge they have <strong>teachers must be wary of confirmation bias</strong><span style=font-weight: 400;>. In the 17th century Francis Bacon noted: people project categories assumptions rules priorities attitudes and matters of style onto their realities and develop countless ways of 'proving' these instinctive ideas to be true. By </span><strong>pushing students toward the habits of self-assessment and self-discipline</strong><span style=font-weight: 400;> teachers can </span><strong>inch students closer toward mastery and achieving true understanding</strong><span style=font-weight: 400;> for real-world knowledge use and application.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published October 01, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}