{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>"Deliberate practice is characterized by a high degree of focused effort to develop specific skills and concepts beyond one’s current abilities [improving] learning and performance through two cognitive mechanisms: chunking and knowledge reorganization.</p>
        <p>Deliberate practice <strong>isolates specific and often difficult tasks from the flow of the overall activity</strong> [allowing] for the time and mental effort necessary to support chunking and knowledge reorganization."</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}