{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD as an Iterative Process</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Students don't grasp the Big Ideas of a course when its content like a textbook is arranged logically. To be true to how people actually learn students must be presented with chances to use the content presented in a </span><strong>disciplined</strong><span style=font-weight: 400;> way with </span><strong>a variety of learning experiences to engage various learning styles</strong><span style=font-weight: 400;>. This sparks the pursuit of performance mastery and relegates the role of textbooks to a point of reference as students iteratively go through course Big Ideas in the pursuit of understanding.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published October 15, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}