{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>How do frames affect multicultural classrooms and workplace environments? How can students learn to communicate cross-culturally while respecting their own reference experiences and contributing to society for the better reducing friction and disharmony? What values do classrooms which promote these kinds of behaviors have and how can they be quantified into applied learning science and instructional design contexts?</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published November 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}