{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD&#39;s Instructional Design Approach</h1>

    <article class="blog-post-content"></article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published October 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}