{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Assessment Research</h1>

    <article class="blog-post-content">
        To <strong>direct students toward mastery</strong><span style=font-weight: 400;> in a subject deliberate practice must be undertaken and </span><strong>fit into a course’s objectives as a subgoal of that overarching aim</strong><span style=font-weight: 400;>. Opportunities for cultivating states of </span><strong>deep concentration</strong><span style=font-weight: 400;> and providing students with </span><strong>deep feedback</strong><span style=font-weight: 400;> regarding their performance can be introduced via something as simple as </span><strong>homework</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

    <p class="blog-post-created-at">Published October 10, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}