{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Interest &amp; Motivation</h1>

    <article class="blog-post-content">
        <p><strong>How can instructors bridge the gap between students' motivation and how they value the course material?</strong></p>
        <p>&nbsp;</p>
        Students are <strong>more likely to pay attention to and retain information</strong><span style=font-weight: 400;> if it is paired with a salient exciting event. This can be neurochemical - like a cup of coffee - or shocking - like a gorilla walking through a basketball game. For in-person and e-Learning activities </span><strong>interactivity and variable rewards</strong><span style=font-weight: 400;> (Howard-Jones Demetriou Bogacz Yoo &amp; Leonards 2011) </span><strong>boost arousal motivation and memory retention</strong><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        Instructors can also:</p>
        <ul>
            <li style=font-weight: 400;><span style=font-weight: 400;>connect the material to students' interests</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>provide authentic real-world tasks</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>show how the material is relevant to students' current academic lives</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>demonstrate the relevance of higher-level skills to students' professional lives</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>identify and reward what is valued in class and</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>display passion and enthusiasm themselves.</span></li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>How can instructors create positive expectancies as students pursue course objectives?</strong></p>
        <p>&nbsp;</p>
        <p>
        <ul>
            <li style=font-weight: 400;><span style=font-weight: 400;>provide targeted feedback</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>articulate expectations with tools like rubrics</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>align educational goals instruction and assessment strategies</span></li>
        </ul>
        <p>&nbsp;</p>
        When students feel more supported receive feedback and demonstrate their knowledge they will have a clearer view of what is expected of them and will be more motivated as a consequence of the confidence and control they have in their learning. Teachers to prepare students for success can also</p>
        <p>&nbsp;</p>
        <ul>
            <li style=font-weight: 400;><span style=font-weight: 400;>describe effective study strategies and</span></li>
            <li style=font-weight: 400;><span style=font-weight: 400;>educate students about the ways we explain success and failure.</span></li>
        </ul>
        <p>&nbsp;</p>
        Students oriented toward a <strong>growth mindset</strong><span style=font-weight: 400;> and equipped with the skills to succeed are </span><strong>more likely to attribute their success to an internal locus of control</strong><span style=font-weight: 400;> and remain motivated. Students will adjust their expectations - that is to succeed - if they are given choices in terms of the specific knowledge they acquire via topics for papers and questions for class discussion.&nbsp;</span></p>
        <p>&nbsp;</p>
        <p><strong>Giving students time to reflect</strong><span style=font-weight: 400;> - asking them what they learned from an assignment or what the most valuable part of a project was to them - helps them to articulate strategies for success moving forward as they retrospectively </span><strong>review how they prepared what skills they used and what they can change moving forward</strong><span style=font-weight: 400;>.</span></p>
        </p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

    <p class="blog-post-created-at">Published September 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}