{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p><strong>Clickers or classroom response systems</strong> can be used as a type of formative assessment allowing teachers to collect students' answers to questions posed in class. Clickers can be used to <strong>prime prior knowledge link new material to knowledge from previous courses and provide instructors with data</strong> about students' misconceptions about course material.</p>
        <p>Teachers can apply <strong>Bloom's Taxonomy</strong> to course content to gauge students' proficiency in understanding analyzing and synthesizing knowledge related to the subject at hand. Providing dualism-oriented students with sample questions can also move them along the Perry Scheme toward multiplicity - learning to explain why they believe what they do - by <strong>allowing them to compare and contrast correct and incorrect question/answer pairs</strong>.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}