{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Student Development</h1>

    <article class="blog-post-content">
        <p><strong>Clickers or classroom response systems</strong><span style=font-weight: 400;> can be used as a type of formative assessment allowing teachers to collect students' answers to questions posed in class. Clickers can be used to </span><strong>prime prior knowledge link new material to knowledge from previous courses and provide instructors with data</strong><span style=font-weight: 400;> about students' misconceptions about course material.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Teachers can apply </span><strong>Bloom's Taxonomy</strong><span style=font-weight: 400;> to course content to gauge students' proficiency in understanding analyzing and synthesizing knowledge related to the subject at hand. Providing dualism-oriented students with sample questions can also move them along the Perry Scheme toward multiplicity - learning to explain why they believe what they do - by </span><strong>allowing them to compare and contrast correct and incorrect question/answer pairs</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published September 17, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}