{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>How can learning science investigate and build upon the work of Lovett's (2001) <strong>studies on component skill practice</strong>? Can we uncover ways to affect overall task performance disproportionately to the amount of time invested in that task? Under <strong>what conditions do students benefit from whole-task practice vs. component-based practice</strong>?</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}