{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>The Children's Museum (CM) recently built the MuseumLab a space for kids ages 10 and older to work with makers to create everything from furniture to apps experiment with cutting edge technology in the creation of art climb three stories on a unique sculpture and collaborate on one-of-a-kind art installations. Students are sure to learn things without knowing that they're learning in the moment.</p>
        <p>Permanent exhibits at the CM are based on the philosophy of Play with Real Stuff where students of all ages are encouraged to find their own answers through hands-on exploration in art and science. This kind of active engagement with material is likely to solidify lessons and bridge the gap between abstract instruction and real-world application.</p>
        <p>The CM also has hands-on workshops led by a Museum Educator:</p>
        <ul>
            <li>electronics and circuitry with motors and batteries</li>
            <li>recycled materials and a simple circuit to create a robot that doodles an art masterpiece</li>
            <li>mystery sound boxes color mixing with aromatic paints taste testing</li>
            <li>printmaking techniques</li>
            <li>positive and negative space through silkscreen printing or relief printing</li>
            <li>the garden where activities are dependent on season</li>
            <li>the terminology history and process of making mosaics</li>
            <li>knowledge of weaving tips and techniques</li>
            <li>portrait drawing with examples of some of the legendary artists like Picasso or Salvador Dali</li>
            <li>puppetry</li>
        </ul>
        <p>The CM also has day-long camps for students to get involved in workshops.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}