{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p><strong>Frames</strong></p>
        <p>frames - principles of organization which govern events – at least social ones – and our subjective involvement in them which people share (Goffman 1986:10-11)</p>
        <p>The term frame is used to refer to messages defining intentions of communication in the sense that a picture frame delimits the picture within it and distinguishes the picture from the surrounding wall. Accordingly Tannen (1984:23) defines "frame" as "a superordinate message about how the com- munication is intended."</p>
        <p>The notion of frames goes back to Bateson (1972) who identified three different levels of communication:</p>
        <p>(1) the denotative level (i.e. referential level)
            (2) the metalinguistic level (i.e. the purpose of communication is to talk about language) and
            (3) the meta-communicative level (i.e. communication concerning the relationship between the speakers).</p>
        <p>On the meta-communicative level people send intentionally or unintentionally a message that tells the intention of the communication. For example when one says "I hate you" on the denotative level s/he may send signals telling that the communication is intended to be "joking."</p>
        <p><strong>Observational Learning</strong></p>
        <p>"Learning by watching is called observational learning."</p>
        <p>"Theory of mind enables people to infer the goals of another person. This is important for observational learning. It helps the observer figure out which parts of a behavior to imitate and how to make useful variations. "</p>
        <p>"Observing other people receive positive reinforcement for a behavior is called vicarious reward because people vicariously project into the positive reinforcement."</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}