{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Traditionally experimentalists strive for <strong>internal validity</strong> which enables clear causal conclusions discrimination of constructs and predictions regarding future performance.</p>
        <p>Learning sciences researchers instead often emphasize an aspect of <strong>external validity</strong>: ecological validity (i.e. the assessment’s alignment with realistic contexts of learning).</p>
        <p>Recently developmental scientists Hirsh-Pasek Kochanoff Newcombe and deVilliers (2005) introduced the concept of <strong>empirical validity</strong> to stress that assessments should be based on solid research foundations.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}