{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Technology can be used to achieve learning objectives although technology itself is not the primary ingredient in creating a course that meets educational objectives.</p>
        <p>Teachers can use tools like the <strong>Pedagogy First</strong> tool created by Grand Canyon University's Center for Innovation in Research in Teaching to <strong>help search and select technologies relevant to their course objectives</strong>. Teachers can also ask questions with the assistance of <strong>briefs</strong> (like those provided by EDUCAUSE) <strong>that summarize emerging technologies</strong> such as: What is it? How does it work? Who’s doing it? Why is it significant? What are the downsides? Where is it going? What are the implications for higher education?</p>
        <p><strong>Technology aligned to specific learning goals can then be used to:</strong></p>
        <ul>
            <li>create learning materials to accommodate visually/hearing impaired students and <strong>increase accessibility</strong></li>
            <li>foster <strong>social learning</strong></li>
            <li><strong>help students</strong> find study groups participate in group and private messaging and receive institutional announcements</li>
            <li><strong>monitor students’</strong> participation and provide facilitation and feedback as needed</li>
            <li>create digital resources to design and deliver instructional content</li>
            <li>create <strong>blended content</strong> that may help students develop mental representations reduce their cognitive load and test their understanding of content</li>
            <li>create online modules with simulations or new ways of visualizing content</li>
            <li>prompt students via text message to set learning goals aligned with course rubrics</li>
            <li>foster <strong>help-seeking</strong> with online resources and tutoring supports</li>
            <li>help students <strong>plan and manage their time</strong> with to-do lists task reminders embedded in calendars or timeline visualizations</li>
            <li>help students <strong>self-monitor</strong> their learning with prompts (or nudges) that encourage them to organize their thinking while learning (Sullivan 2016)</li>
        </ul>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}