{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>The goal of the laboratory school is to establish a beneficial synergy between educational theory research and practice while facilitating growth for the Whole Child sharing teaching strategies and providing professional development for pre-service teachers while creating a curriculum rooted in psychological theory. The <strong>basic learning goals of the Children's School</strong> are:</p>
        <ol>
            <li>
                encouraging each child's **Self-Esteem &amp; Independence**
            </li>
            <li>
                promoting children's social **Interaction &amp; Cooperation**
            </li>
            <li>
                facilitating comprehension and **Communication**
            </li>
            <li>
                **Discovery &amp; Exploration**—fostering a positive attitude
            </li>
            <li>
                giving children opportunities to use their **Physical Capabilities**
            </li>
            <li>
                **Creativity**—cultivating each child's ability to express ideas
            </li>
        </ol>
        <p>Carver and colleagues developed these goal statements by <strong>interviewing preschoolers from around the country</strong> <strong>integrating teachers' experiences</strong> and applying knowledge of <strong>developmental research</strong> to add depth and breadth in cognitive areas while ensuring they were following natural developmental sequences. Other schools would be served well by doing the same.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}