{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Strategic Learning for EGIA</h1>

    <article class="blog-post-content">
        <p><strong>The Spacing Effect</strong><span style=font-weight: 400;> - Students should space study sessions on a topic out and quiz themselves instead of cramming learning into one long session.</span></p>
        <p><span style=font-weight: 400;><br></span><strong>The Read-Recite-Review Method</strong><span style=font-weight: 400;> where you recall information from memory is one of the best ways to remember information. Giving yourself feedback for questions you missed improves retention.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published August 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}