{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Early Childhood Education</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>The </span><strong>Goals -&gt; Program -&gt; Assessment (GPA) approach is a constraint</strong><span style=font-weight: 400;> that aligns goals with educational programs and assessment acting as a funnel where the goals chosen filter relevant assessments to administer.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published September 24, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}