{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>The foundation for EGIA’s course name is the Goals Program Assessment Approach.</p>
        <p><strong>Goals:</strong></p>
        <ul>
            <li>Detailed task analysis</li>
            <li>Considering developmental level</li>
            <li>Considering knowledge base</li>
            <li>Considering available time</li>
        </ul>
        <p><strong>Program:</strong></p>
        <ul>
            <li>Explicit focus on target</li>
            <li>Consistent with cognitive principles</li>
        </ul>
        <p><strong>Assessment:</strong></p>
        <ul>
            <li>Cognitive assessments of process</li>
            <li>Covering the full target</li>
        </ul>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}