{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Inclusive Teaching</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Assessments in diverse classrooms may take on </span><i><span style=font-weight: 400;>the ethos of an inclusive classroom</span></i><span style=font-weight: 400;>; that is practices like oral exams or formative assessments in the form of “think-alouds” to understand how students think about the task at hand. Enabling students to articulate through their own thought processes implicitly places the student in a position of competence.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>In addition students who encounter stereotype threat regarding their gender race or socioeconomic circumstances may experience higher negative emotions and decrease learning and test performance. </span><strong>A formative assessment where teachers place trust in students to exercise knowledge competently may reduce those negative emotions.</strong></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published September 12, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}