{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        To gear courses toward active teaching strategies instructors should have sufficient <strong>time ample resources departmental support the ability to space deliver and cover content sufficiently and align students with the course's learning objectives</strong><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        It may be necessary to create classes where <strong>students</strong><span style=font-weight: 400;> learn self-regulatory emotional management and teamwork skills to </span><strong>increase motivation</strong><span style=font-weight: 400;> and potential for </span><strong>engagement</strong><span style=font-weight: 400;> in actively taught courses.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

    <p class="blog-post-created-at">Published November 07, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}