{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Students participating in active learning are served well by classroom response systems (also known as <strong>clickers</strong>) which help novice students <strong>discover their own misconceptions and construct correct explanations</strong> based on the feedback clicker responses provide.</p>
        <p>Students are also well-served by <strong>pre-course assessments</strong> which can help students gauge their own learning. Students can submit <strong>one-minute papers</strong> to the instructor during a course <strong>voicing concerns and requesting clarifying feedback</strong>.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}