{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        <p><strong>FOL</strong><span style=font-weight: 400;>: feeling of learning</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published November 07, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}