{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        Students participating in active learning are served well by classroom response systems (also known as <strong>clickers</strong><span style=font-weight: 400;>) which help novice students </span><strong>discover their own misconceptions and construct correct explanations</strong><span style=font-weight: 400;> based on the feedback clicker responses provide.</span></p>
        <p>&nbsp;</p>
        Students are also well-served by <strong>pre-course assessments</strong><span style=font-weight: 400;> which can help students gauge their own learning. Students can submit </span><strong>one-minute papers</strong><span style=font-weight: 400;> to the instructor during a course </span><strong>voicing concerns and requesting clarifying feedback</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published November 07, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}