{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Charter School</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>There weren’t many discussions on the ECS website about how students showcase evidence of their knowledge.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>However assessments likely take on a formative nature - in the moment within the environment with teachers asking for input and feedback during a unit. </span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published October 22, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}