{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD&#39;s Instructional Design Approach</h1>

    <article class="blog-post-content">
        Administering in-class formative assessments means that teachers can slow down or backtrack when there are too many wrong answers. <strong>Types of formative assessments include</strong><span style=font-weight: 400;>:</span></p>
        <p>&nbsp;</p>
        <ol>
            <li><span style=font-weight: 400;> index card summaries and explanations of course big ideas</span></li>
            <li><span style=font-weight: 400;> index cards with questions posed at the teacher regarding misconceptions or things students don't understand yet</span></li>
            <li><span style=font-weight: 400;> hand signals indicating understanding or lack thereof</span></li>
            <li><span style=font-weight: 400;> one-minute essays gauging comprehension</span></li>
            <li><span style=font-weight: 400;> question boxes bulletin boards or an email address where students can ask about misconceptions or lack of understanding privately</span></li>
            <li><span style=font-weight: 400;> concept maps</span></li>
            <li><span style=font-weight: 400;> oral questioning</span></li>
        </ol>
        <p>&nbsp;</p>
        These checks for understanding over time <strong>teach students to gauge their own understanding and improve metacognitive skills</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published October 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}