{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>The <strong>Goals -&gt; Program -&gt; Assessment (GPA) approach is a constraint</strong> that aligns goals with educational programs and assessment acting as a funnel where the goals chosen filter relevant assessments to administer.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}