{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Strategic Learning for EGIA</h1>

    <article class="blog-post-content">
        Putnam cites that <strong>overconfident</strong><span style=font-weight: 400;> students may know less than they think they do. This is something that leads to poor assessment performance.</span></p>
        <p>&nbsp;</p>
        To prepare for tests <strong>students should start by answering questions they wrote while actively studying</strong><span style=font-weight: 400;> - reading the text or reviewing notes from class. This form of engagement enhances memory. By </span><strong>using questions created while studying as a study guide</strong><span style=font-weight: 400;> students review what they cannot retrieve but they should be sure that when they do retrieve something the answer is definitely correct.</span></p>
        <p>&nbsp;</p>
        Retrieving quiz or test answers from memory makes it easier to do so in the future and applying other memory techniques like mnemonic acronyms and method of loci <strong>improve retention further</strong><span style=font-weight: 400;>.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published August 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}