{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p><strong>Instruction and assessment must be aligned with learning goals</strong> or <strong>targets</strong> as Carver analogizes. These goals serve as the foundation for instructional design intervention monitoring and assessments that target the knowledge skills and dispositions related to those goals. </p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}