{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Synthesizing &amp; Applying Big Ideas</h1>

    <article class="blog-post-content">
        <p>This report had a lot of information and used common language. Its authors assumed basic knowledge of the education discipline (using terms like scaffolding problem-based learning etc.) but no new terms were introduced.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published September 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}