{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evidence of Effective Implementation &amp; Impact</h1>

    <article class="blog-post-content">
        <p><strong>Instruction and assessment must be aligned with learning goals</strong><span style=font-weight: 400;> or </span><strong>targets</strong><span style=font-weight: 400;> as Carver analogizes. These goals serve as the foundation for instructional design intervention monitoring and assessments that target the knowledge skills and dispositions related to those goals. </span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}