{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evidence of Effective Implementation &amp; Impact</h1>

    <article class="blog-post-content">
        Traditionally experimentalists strive for <strong>internal validity</strong><span style=font-weight: 400;> which enables clear causal conclusions discrimination of constructs and predictions regarding future performance.</span></p>
        <p>&nbsp;</p>
        Learning sciences researchers instead often emphasize an aspect of <strong>external validity</strong><span style=font-weight: 400;>: ecological validity (i.e. the assessment’s alignment with realistic contexts of learning).</span></p>
        <p>&nbsp;</p>
        Recently developmental scientists Hirsh-Pasek Kochanoff Newcombe and deVilliers (2005) introduced the concept of <strong>empirical validity</strong><span style=font-weight: 400;> to stress that assessments should be based on solid research foundations.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}