{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Charter School</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>What does it mean for students to loop with teachers in order to build connection and consistency?</span></p>
        <p><span style=font-weight: 400;>Why is Reporter Training required for teachers?</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>What are some of the 2100 outdoor experiences that students engage in?</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>How are students assessed? Do you meet state standardized testing requirements?</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published October 22, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}