{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Synthesizing &amp; Applying Big Ideas</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>To create new learning technologies for students </span><strong>collaboration</strong><span style=font-weight: 400;> should take place between </span><strong>technology developers instructional designers higher education administrators and instructors</strong><span style=font-weight: 400;>.&nbsp;</span></p>
        <p>&nbsp;</p>
        <p><strong>Students</strong><span style=font-weight: 400;> should be given the opportunity to talk about course content and their learning experiences. Their </span><strong>preferences and levels of access to computing technologies</strong><span style=font-weight: 400;> should also be taken into account when creating new learning technologies.&nbsp;</span></p>
        <p><br><span style=font-weight: 400;>A </span><strong>dialogue can then continue with students articulating expectations</strong><span style=font-weight: 400;> for using digital and analog communication/collaboration tools inside and outside the classroom.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published September 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}