{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>To gear courses toward active teaching strategies instructors should have sufficient <strong>time ample resources departmental support the ability to space deliver and cover content sufficiently and align students with the course's learning objectives</strong>.</p>
        <p>It may be necessary to create classes where <strong>students</strong> learn self-regulatory emotional management and teamwork skills to <strong>increase motivation</strong> and potential for <strong>engagement</strong> in actively taught courses.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}