{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">UbD as an Iterative Process</h1>

    <article class="blog-post-content">
        Research studies can <strong>observe courses which treat the textbook as a syllabus and those which use the textbook as a point of reference and apply UbD's instructional design framework</strong><span style=font-weight: 400;>. They can even branch out to examine the feasibility of networked organizations which share resources between schools or districts and conduct analyses to </span><strong>determine whether the extra time dedicated to robustly plan educational designs correlates with better student outcomes</strong><span style=font-weight: 400;> along measures of local and state assessment performance.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published October 15, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}