{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p><strong>Misperceptions</strong> regarding how students engage with active learning must be <strong>understood and addressed</strong> in order for research-based active instructional strategies to be more effective and to become widespread.</p>
        <p>Research can be conducted on schools <strong>outside the Ivy League</strong> as well since instructional strategies adopted and accepted at state and local colleges will differ where educational undergraduate and graduate programs are not staffed by experts in the field.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}