{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Applying problem-based learning and the case method to pique students' interest <strong>immerses students in the process of understanding</strong>. By attempting to learn students make sense of teaching and construct their own knowledge. This means that <strong>understanding is not given but earned</strong>.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}