{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Instruction Research</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>Students learn more when they are actively engaged than in a passive learning environment. </span><strong>Active teaching strategies increase students' attendance engagement and acquisition of expert attitudes</strong><span style=font-weight: 400;> toward college-level science courses. However there is a </span><strong>sharp contrast between how students feel about their learning and how much they actually learn</strong><span style=font-weight: 400;>. The literature supports two explanations:</span></p>
        <p>&nbsp;</p>
        <ol>
            <li> <strong>lecture-based teaching</strong><span style=font-weight: 400;> engages students cognitively to the point that </span><strong>they think they are learning more than they actually are</strong><span style=font-weight: 400;></span> </li>
            <li> <strong>novices</strong><span style=font-weight: 400;> in a subject are ill-equipped to gauge how much they are learning because of their </span><strong>poor metacognitive skills</strong><span style=font-weight: 400;></span> </li>
        </ol>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>and suggested by Deslauriers et al. (2018)&nbsp;</span></p>
        <p>&nbsp;</p>
        <p>
        <ol start=3>
            <li> <span style=font-weight: 400;> students who are unfamiliar with active learning may not appreciate that the </span><strong>cognitive struggle involved is actually a sign that learning is effective</strong><span style=font-weight: 400;>.</span> </li>
        </ol>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Students in the study experienced confusion and more cognitive effort during the small-group activities interspersed throughout lectures and interpreted this as a sign of poor learning. Students in an active learning environment also cited </span><strong>transitions from group activities to instructor feedback concerns that errors made during class would not be corrected and a general feeling of frustration and confusion</strong><span style=font-weight: 400;> when discussing concerns about actively taught classes.&nbsp;</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>The success of active learning depends on students' </span><strong>motivation and engagement</strong><span style=font-weight: 400;> and </span><strong>students must be taught to self-regulate</strong><span style=font-weight: 400;> negative emotions as they struggle with new material or participate in group work with others. </span></p>
        </p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published November 07, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}