{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Early Childhood Education</h1>

    <article class="blog-post-content">
        The foundation for EGIA’s course name is the <span style=font-weight: 400;>Goals Program Assessment Approach</span><span style=font-weight: 400;>.</span></p>
        <p>&nbsp;</p>
        <p><strong>Goals:</strong></p>
        - Detailed task analysis</p>
        - Considering developmental level</p>
        - Considering knowledge base</p>
        - Considering available time</p>
        <p>&nbsp;</p>
        <p><strong>Program:</strong></p>
        - Explicit focus on target</p>
        - Consistent with cognitive principles</p>
        <p>&nbsp;</p>
        <p><strong>Assessment:</strong></p>
        - Cognitive assessments of process</p>
        - Covering the full target</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published September 24, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}