{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Applying Assessment Research</h1>

    <article class="blog-post-content">
        Deliberate practice has implications in the domain of <strong>studying for assessments</strong><span style=font-weight: 400;> - students may internalize 80% of the material or exercises on a summative exam but </span><strong>the remaining 20% may need to be targeted and effortfully practiced</strong><span style=font-weight: 400;> to maximize performance on the test.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

    <p class="blog-post-created-at">Published October 10, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}