{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>How do frames affect multicultural classrooms and workplace environments? How can students learn to communicate cross-culturally while respecting their own reference experiences and contributing to society for the better reducing friction and disharmony? What values do classrooms which promote these kinds of behaviors have and how can they be quantified into applied learning science and instructional design contexts?</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}