{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Researchers can begin by <strong>conducting longitudinal research on the effects of students employing metacognitive strategies such as reflection and revising of knowledge structures</strong> and <strong>how students evaluate the perceived cost of switching knowledge acquisition strategies for gains in performance</strong>.</p>
        <p>Ericsson Chase and Faloon (1980) and Ericsson &amp; Staszewski (1989) illustrated how college students can develop highly connected knowledge organizations in terms of multilevel hierarchical structures of digits. These <strong>chunks</strong> of knowledge can be elaborated by researchers in various fields across multitudes of domains. Bower et al. (1969) has demonstrated this with minerals and Ausubel (1960 1978) demonstrated how students showed similar learning gains when given a set of principles or propositions that provide a cognitive structure to guide the incorporation of new information (an advance organizer).</p>
        <p>Research can further uncover the <strong>differences between expert and novice knowledge structures their abilities to respond to patterns</strong> (such as the Mechner 2010 study on chess experts' recognition of piece placement) and <strong>how teachers organize knowledge structures in comparison to students</strong>. This research could have implications for course design and knowledge scaffolding in courses where demand for personalized learning is only increasing.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}