{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>There were not many implications for assessment in these two readings. Perhaps oral exams may be impacted - if there is a time limit on how students present information to an instructor <strong>they may feel pressured to conform to cultural norms outside of their own</strong>. This could <strong>increase cognitive load and lead to poorer assessment outcomes</strong>.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}