{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Charter School</h1>

    <article class="blog-post-content">
        <p><span style=font-weight: 400;>How does ECS evaluate the impact of its programs? The school has built partnerships to grow its educational impact internally extending educational opportunities to students and encouraging students to recognize the vibrancy of Pittsburgh. Research organizations that work with these partners can evaluate the impact of ECS' work in the domain of physical social and whole child development.</span></p>
        <p>&nbsp;</p>
        <p><span style=font-weight: 400;>Researchers can also look into the impact of programs like E-Day Ready Care and other after school programs on student learning.</span></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

    <p class="blog-post-created-at">Published October 22, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}