{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Benson et al. mention the work of Jonassen Howland Moore and Marra (2003) who emphasize the importance of creating meaningful learning activities with <strong>the instructor serving more as a facilitator to guide and engage learners</strong>. Characteristics of meaningful learning include:</p>
        <ul>
            <li>Active (Manipulative / Observant): Within natural environments learners manipulate objects observe intervention effects and create their own explanations when interacting with objects and concepts.</li>
            <li>Constructive (Articulative / Reflective): Learners are able to reflect and describe their observations and activities to build their own mental models.</li>
            <li>Intentional (Reflective / Regulatory): Learners are able to deliberate and discover more when they are actively pursuing a cognitive goal.</li>
            <li>Authentic (Complex / Contextualized): Learning activities are designed within natural contexts which can improve understanding and transference to new and real-world problems. Cooperative (Collaborative / Conversational): Conversations group experiences and social negotiation of ideas fit the knowledge building communities that learners confront within non-formal learning environments.</li>
        </ul>
        <p>As our schools become more diverse <strong>our learning environments and instructional products must meet the needs of the increasingly diverse student population</strong>. In order to promote student engagement among these learners and provide meaningful learning experiences for them scholars in the field of instructional design and technology (e.g. Young 2009; Richey Klein &amp; Tracey 2011) have begun to provide <strong>guidelines and models to incorporate cultural values in the design and development of learning environments that utilize technology</strong>.</p>
        <p>**How can ECT by serving as open media for the democratization of knowledge help **oppressed/marginalized culture groups maintain networks and share information over vast distances and increase their effectiveness in the political arena? The role of culture in learning moves beyond challenging dominant ideologies or world views; it is about defining and identifying instances methods and processes of learning that are specific to individuals and groups. Thereafter the selection of instructional strategies begins. That is <strong>instructional strategies cannot be applied to learners; in this sense instructional strategies must be developed from an ethnographic evaluation of the learner.</strong></p>
        <p><strong>Dr. Patricia A. Young</strong> has worked to promote <strong>the integration of culture throughout the</strong> <strong>instructional design process leading to the creation of ECT products</strong> (Young 2008a). She also constructed a formal Culture Based Model—the first of its kind in our field—which she elaborated via multiple journal articles and book chapters (see Young 2008b; 2008c; 2011) and exhaustively <strong>contextualized detailed and expanded in a seminal book that is already being acknowledged as one of the classics in our field (see Young 2009).</strong></p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}