{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>From The ABC's of How We Learn Ch. X:</p>
        <p>excitement - a physiological state of heightened arousal. It comes with increased heart rate increased blood pressure moist palms focused attention higher emotion. Moderate levels of arousal improve performance and memory encoding.</p>
        <p>The Yerkes-Dodson Law describes the relation between arousal and performance (Yerkes &amp; Dodson 1908). For simple tasks arousal pushes performance until it reaches a plateau where performance cannot increase any more. For difficult tasks too much arousal hurts performance. Being too excited can cause a loss of focus and even a crash and burn for complex tasks.</p>
        <p>Scientists have yet to agree on how emotion and arousal interact to influence learning. There are very many emotions to investigate including sadness joy and anger. The scope of Chapter X was limited to describing general states of arousal irrespective of emotional valence.</p>
        <p>self-efficacy - people's belief that they have what it takes to accomplish a goal</p>
        <p></p>
        <p>People regularly make motivation-relevant attributions that reveal the Fundamental Attribution Error (Ross 1977).</p>
        <p>For example</p>
        <ul>
            <li>Americans tend to believe that other people's bad behavior is caused by bad personalities whereas their own bad behavior is caused by the environment.</li>
            <li>When driving to work a car cuts you off and you think the driver is a jerk and a bully but when you cut someone off it is because your boss would fire you for being late again.</li>
            <li>"I cannot do this task well because my teacher is being mean."</li>
        </ul>
        <p>schema - a general representation for a common class of situations. People have a schema for eating out that includes sitting down ordering food eating and paying the bill (and maybe tipping).</p>
        <p><strong>Sleep’s relevance to learning</strong> is twofold:</p>
        <ol>
            <li>alertness to feed attention which can store new memories during the day</li>
            <li>memory consolidation at night to facilitate pattern-matching by integrating with prior knowledge during the day</li>
        </ol>
        <p><strong>Slow-wave sleep (SWS)</strong> is named after these slow (for the brain at least) on-off oscillations. Researchers know <strong>SWS is related to learning</strong> because <strong>the waves are stronger after a day of heavy learning</strong> (after studying for finals) and <strong>weaker</strong> if not much learning has occurred (<strong>a lazy summer day</strong>).</p>
        <p>They also show up in predictable brain locations. If a person learns a motor routine during the day like a finger-tapping pattern then areas of the brain responsible for movement processing will show increased amplitude of sleep oscillations compared with a day of little motor learning (Huber Ghilardi Massimini &amp; Tononi 2004).</p>
        <p><strong>Sleeping more can also lead to decreased forgetting and greater athletic performance.</strong></p>
        <p>A classic study showed that after learning nonsense syllables taking a nap helps people to forget less than staying awake does. Even when tested as little as one hour after learning <strong>participants forgot more syllables if they stayed awake than if they napped during that hour</strong> (Jenkins &amp; Dallenbach 1924). Interestingly different types of memory seem to be boosted preferentially during different sleep stages: emotional implicit and procedural memory may be boosted during REM sleep while declarative memory and insight learning may benefit more from SWS.</p>
        <p>Mah Mah Kezirian and Dement (2011) asked Stanford University <strong>basketball players to extend their nighttime sleep by two hours</strong> to a minimum of ten hours in bed (alone) per night for about six weeks. Mah and colleagues found improvement in sprint times free-throw percentage and three-point shot success even though the athletes reported already feeling at the peak of their athletic skill before the start of the study.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}