{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Learning Science Research Decisions</h1>

    <article class="blog-post-content">
        Learning Science researchers observe students' behavior and interactions in their authentic social and cultural settings such as family interactions classrooms community youth and leadership groups after-school programs and professional workplaces as they take place across the day and lifespan (23).</p>
        <p>&nbsp;</p>
        Although research informs practicing teachers regarding the difficulties students may encounter while thinking through tasks it does not directly give them the tools to assist learners. Theoretical knowledge of child development and cognition must be paired with scientifically validated curricula and the means to teach it.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

    <p class="blog-post-created-at">Published November 21, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}