{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Museum Education</h1>

    <article class="blog-post-content">
        <p>How does the Children's Museum work with schools and other informal education programs? How often do they revise and/or expand exhibits?&nbsp;</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published November 14, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}