{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">undefined</h1>

    <article class="blog-post-content">
        <p>Researchers can investigate how the use of criterion-based rubrics affect grading in courses where assignments are given varying weights and comparing that to student summative assessment performance. <strong>Do various types of evidence truly provide support for an accurate representation of student understanding in the classroom?</strong> This research can build upon prior work by Guskey 2002 Wiggins 1998 and Marzano 2000.</p>
    </article>

    <p class="blog-post-tags"></p>

    <p class="blog-post-created-at">Published undefined</p>

    {{> blog-post-comment}}

</div>

{{/base}}