{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Educational Design Example - Charter School</h1>

    <article class="blog-post-content">
        What does it mean for students to loop with teachers in order to build connection and consistency?</p>
        Why is Reporter Training required for teachers?</p>
        <p>&nbsp;</p>
        What are some of the 2100 outdoor experiences that students engage in?</p>
        <p>&nbsp;</p>
        How are students assessed? Do you meet state standardized testing requirements?</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">Basic definitions</span></p>

    <p class="blog-post-created-at">Published October 22, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}