{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Achieving Predictable Results Through Explicit Goal Setting</h1>

    <article class="blog-post-content">
        <p>The purpose of planning course content is to <strong>achieve predictable results</strong>. The purpose of <strong>improvisation</strong> in a course such as <strong>breaking through students’ pre-existing mental models</strong> is to maintain progress.</p>
        <p>To target results instructors should <strong>begin with content standards</strong> and consider <strong>real-world applications</strong> of course content. This helps zero in on Big Ideas or essential questions to focus teaching. What are the enduring understandings to be gained by students? What transferable skills will they gain? What evidence of learning will be produced? Answering these questions leads to the creation of more meaningful course work. It also heightens teacher attentiveness in the moment of instruction potentially enhancing learners' experiences.</p>
        <p>The goal of backwards planning in courses then is to <strong>ensure students acquire knowledge and skills in order to handle key tasks in the field</strong> as they construct and then apply knowledge without real-world penalties. As they <strong>train themselves</strong> and develop the habits of mind in the classroom they prepare themselves to <strong>perform outside the classroom</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational planning</span><span class="blog-post-tag">explicit goals</span><span class="blog-post-tag">student learning</span><span class="blog-post-tag">backwards planning</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}