{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Addressing Learning Challenges and Enhancing Student Motivation</h1>

    <article class="blog-post-content">
        <p>Ambrose et al. ask on behalf of teachers in "How Learning Works": <strong>Why can’t students apply what they have learned? Why do they cling so tightly to misconceptions? Why are they not more engaged by interesting material? Why do they claim to know so much more than they actually know? Why do they continue to employ the same ineffective study strategies?</strong></p>
        <p>Wiggins and McTighe pose <strong>some answers</strong> in Understanding By Design:</p>
        <p>Students’ <strong>motivation</strong> determines directs and sustains what they do to learn. When students find positive value in a learning goal or activity expect to successfully achieve a desired learning outcome and perceive support from their environment they are likely to be strongly motivated to learn. Students’ <strong>prior knowledge can help or hinder learning</strong> and their current level of development interacts with the social emotional and intellectual climate of the course to impact learning as well.</p>
        <p>The UbD authors then ask: <strong>What must course planning entail to have an intellectual impact on everyone</strong>: the less experienced; the highly able but unmotivated; the less able; those with varied interests and styles?</p>
        <p><strong>Goal-directed practice</strong> coupled with <strong>targeted feedback</strong> enhances the quality of students’ learning. This feedback should explicitly communicate about some aspect(s) of students’ performance relative to specific target criteria provide information to help students progress in meeting those criteria and be given at a time and frequency that allows it to be useful.</p>
        <p>Students who then internalize how to give and receive feedback to themselves and learn to monitor and adjust their approaches to learning have the opportunity to transform into <strong>self-directed learners in pursuit of mastery</strong>. In order to progress toward mastery of a course students must acquire its component skills practice integrating them and know when to apply what they have learned.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">student motivation</span><span class="blog-post-tag">learning challenges</span><span class="blog-post-tag">feedback</span><span class="blog-post-tag">education</span></p>

    <p class="blog-post-created-at">Published September 03, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}