{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Aligning Assessments with Course and Standardized Goals</h1>

    <article class="blog-post-content">
        <p>Assessment can be framed using <strong>rubrics</strong> which <strong>map student performance to course goals</strong>. By mapping assessment content to the standards which these goals are (ideally) derived from students are much more likely to not only perform well in the class (pending delivery of well-designed instruction) but also <strong>meet requirements put forth by state and national standardized testing bodies</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">assessment design</span><span class="blog-post-tag">course goals</span><span class="blog-post-tag">rubrics</span><span class="blog-post-tag">standardized testing</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}