{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Aligning Goals and Motivation in Education</h1>

    <article class="blog-post-content">
        <p><strong>How do we ensure students remain motivated and feel supported in class?</strong></p>
        <p>Feeling supported makes students more likely to feel motivated and increase their expectations for success. If the goals of the course match what students value then the <strong>alignment of expectations and values creates the highest student motivation.</strong></p>
        <p>However students must be pointed in an appropriate direction as they pursue the goals of the course. The ABC's of How We Learn chapter Y (Yes I can) warns that sometimes self-efficacy isn't always a good thing invoking Godwin's Law in its reference to Hitler.</p>
        <p>Furthermore to lend greater motivation to students as they develop greater competency educational goals ought to align with the work students do and not the students themselves disentangling the doer from the activity being done.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">student motivation</span><span class="blog-post-tag">educational goals</span><span class="blog-post-tag">instructional strategies</span><span class="blog-post-tag">self-efficacy</span></p>

    <p class="blog-post-created-at">Published September 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}