{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Aligning Instruction and Assessment with Learning Goals</h1>

    <article class="blog-post-content">
        <p>Instruction and assessment must be aligned with learning goals or targets as Carver analogizes. These goals serve as the foundation for instructional design, intervention, monitoring, and assessments that target the knowledge, skills, and dispositions related to those goals.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">learning goals</span><span class="blog-post-tag">instructional alignment</span><span class="blog-post-tag">assessment</span><span class="blog-post-tag">educational targets</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}