{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Aligning Instruction with Learning Goals</h1>

    <article class="blog-post-content">
        <p>To align instruction with goals, instructors can create a table listing each of the learning objectives related to deep understanding, the specific curriculum emphasis for each objective, the theoretical rationale for each activity, and the plans for documenting the actual implementation. Carver states that instructors should present learners with multiple opportunities to apply their knowledge.</p>
        <p>Carver also observes that the instructional method of guided discovery was preferred to direct instruction, especially when the former preceded the latter. Instructors in designing courses should take into account the open-ended nature of guided discovery as it takes longer than direct instruction to administer.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">learning objectives</span><span class="blog-post-tag">guided discovery</span><span class="blog-post-tag">curriculum development</span></p>

    <p class="blog-post-created-at">Published November 19, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}