{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Aligning Courses with Active Teaching Strategies</h1>

    <article class="blog-post-content">
        <p>To gear courses toward active teaching strategies, instructors should have sufficient time, ample resources, departmental support, the ability to effectively deliver and cover content, and align students with the course's learning objectives.</p>
        <p>It may be necessary to create classes where students learn self-regulatory, emotional management, and teamwork skills to increase motivation and potential for engagement in actively taught courses.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">active teaching</span><span class="blog-post-tag">course objectives</span><span class="blog-post-tag">student engagement</span><span class="blog-post-tag">motivation</span></p>

    <p class="blog-post-created-at">Published November 7, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}