{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Assessing Knowledge Transfer and Mastery</h1>

    <article class="blog-post-content">
        <p>Students ought to be able to use their knowledge and apply it in diverse settings. This means that transfer is the outcome of successful understanding. <strong>Can students apply what they have learned to novel situations effectively? Are their ideas flexible enough to cut through perceived misunderstandings?</strong> This is the core of the intention of assessment.</p>
        <p>Following administration of assessment teachers can evaluate students' misunderstandings and thereby understand their knowledge and abilities. <strong>Misunderstandings are a consequence of unsuccessful knowledge transfer and mistakes are a chance to evaluate refine and reapply knowledge in future assessments.</strong></p>
        <p>However when students transfer what knowledge they have <strong>teachers must be wary of confirmation bias</strong>. In the 17th century Francis Bacon noted: people project categories assumptions rules priorities attitudes and matters of style onto their realities and develop countless ways of 'proving' these instinctive ideas to be true. By <strong>pushing students toward the habits of self-assessment and self-discipline</strong> teachers can <strong>inch students closer toward mastery and achieving true understanding</strong> for real-world knowledge use and application.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">knowledge transfer</span><span class="blog-post-tag">student assessment</span><span class="blog-post-tag">self-assessment</span><span class="blog-post-tag">mastery</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}