{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Bridging the Gap Between Educational Research and Practice</h1>

    <article class="blog-post-content">
        <p>In the design of instruction, practitioners often show little interest in what researchers have produced because research is often too abstract and decontextualized to be readily used by practitioners. Practitioners are also skeptical about whether research will apply or scale up to the complexities of authentic settings. In turn, researchers are critical of the methods and experience of practitioners and often develop solutions to educational problems with little direct input from teachers or school le…</p>
        <p>Educational psychology researchers will investigate the basic structures and processes of attention, memory, perception, cognition, and language without framing the scientific knowledge appropriately for practitioners. Examples are not limited to research that specifically seeks to develop cognitively and epistemologically based theories of instruction and instructional design.</p>
        <p>Theories of cognition are descriptive but not prescriptive, so practitioners working from such theories must make many decisions during planning and teaching that are not stipulated by the learning research. Teachers need application-ready ideas that allow them to create and carry out classroom activities while enriching their understanding of thinking and learning. Such ideas are present in sources and an example of this is the adoption of activities intended to target People of Color, such as dominoes and…</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational research</span><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">practitioner collaboration</span><span class="blog-post-tag">cognitive theories</span></p>

    <p class="blog-post-created-at">Published November 21, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}