{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Collaborative Development of Learning Technologies</h1>

    <article class="blog-post-content">
        <p>To create new learning technologies for students <strong>collaboration</strong> should take place between <strong>technology developers instructional designers higher education administrators and instructors</strong>.</p>
        <p><strong>Students</strong> should be given the opportunity to talk about course content and their learning experiences. Their <strong>preferences and levels of access to computing technologies</strong> should also be taken into account when creating new learning technologies.</p>
        <p>A <strong>dialogue can then continue with students articulating expectations</strong> for using digital and analog communication/collaboration tools inside and outside the classroom.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">collaboration</span><span class="blog-post-tag">learning technologies</span><span class="blog-post-tag">student engagement</span><span class="blog-post-tag">education</span></p>

    <p class="blog-post-created-at">Published September 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}