{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Considering Cultural Context in Assessment Design</h1>

    <article class="blog-post-content">
        <p>There were not many implications for assessment in these two readings. Perhaps oral exams may be impacted - if there is a time limit on how students present information to an instructor <strong>they may feel pressured to conform to cultural norms outside of their own</strong>. This could <strong>increase cognitive load and lead to poorer assessment outcomes</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">assessment design</span><span class="blog-post-tag">cultural context</span><span class="blog-post-tag">cognitive load</span><span class="blog-post-tag">oral exams</span></p>

    <p class="blog-post-created-at">Published November 5, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}