{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Contrasting Perspectives: Behaviorism, Modernism, and Postmodernism</h1>

    <article class="blog-post-content">
        <p>Behaviorism is the position that the world - inner and outer - is knowable through formal analysis and experimentation. As Modernism was adopted by the Arts and Sciences, Behaviorism was the primary perspective adopted in Human Behavior studies.</p>
        <p>Today, Postmodernism pervades Human Behavior studies. Critical Theory, a core tenet of Postmodern thought, aims to critique and change society rather than explain it as Modernism aims to do, and inquires how societal structures serve the social and economic needs in a utilitarian fashion.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">behaviorism</span><span class="blog-post-tag">modernism</span><span class="blog-post-tag">postmodernism</span><span class="blog-post-tag">critical theory</span></p>

    <p class="blog-post-created-at">Published November 21, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}