{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Crafting Engaging and Effective Educational Designs</h1>

    <article class="blog-post-content">
        <p>The best designs according to Wiggins and McTighe are engaging and effective.</p>
        <p><strong>Engaging</strong> lessons are those which pull diverse learners into a subject and contains interesting relevant work with Big Ideas and related performance challenges. <strong>Effective</strong> educational lessons are those which follow the UbD framework - integrating feedback into time-delineated performance tasks and opportunities for improvement along the way.</p>
        <p>Key considerations outlined by the acronym <strong>WHERETO</strong> are required when designing engaging and effective instruction:</p>
        <p>W—Ensure that students understand WHERE the unit is headed and WHY.
            H—HOOK students in the beginning and HOLD their attention throughout.
            E—EQUIP students with necessary experiences tools knowledge and know-how to meet performance goals.
            R—Provide students with numerous opportunities to RETHINK big ideas REFLECT on progress and REVISE their work.
            E—Build in opportunities for students to EVALUATE progress and self-assess.
            T—Be TAILORED to reflect individual talents interests styles and needs.
            O—Be ORGANIZED to optimize deep understanding as opposed to superficial coverage.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">engaging lessons</span><span class="blog-post-tag">effective teaching</span><span class="blog-post-tag">UbD framework</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}