{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Designing Instruction for Deep Understanding</h1>

    <article class="blog-post-content">
        <p>The authors of the Benchmarks for Science Literacy underscore the challenge in benchmarking science knowledge stating that grading domains of understanding in terms of "appreciation grasping knowing and comprehending" may imply to teachers a somewhat greater degree of sophistication and completeness than the one before but each reader of those benchmarks has a different interpretation of the completeness of each word and its corresponding conceptual definition.</p>
        <p>Wiggins and McTighe mention the work of Adler and Van Doren (1940) who studied actively asking and answering questions of meaning as students read texts to better understand their readings. <strong>To understand then requires designing and teaching for understanding avoiding forgetfulness clarifying misconceptions and achieving transfer by means of uncovering the following three items:</strong></p>
        <p><strong>- students' potential misunderstandings</strong>
            <strong>- questions issues and assumptions</strong>
            <strong>- and core ideas at the heart of subjects that aren't obvious or are perhaps even counterintuitive to the novice.</strong>
        </p>
        <p>To do this teachers can ask focused questions elicit feedback and perform diagnostic assessment of students’ prior knowledge. Clearing up misconceptions to clarify organize and cement transferable knowledge is the first step in this journey. Another question teachers can ask is: how do we prioritize select wisely from obligations to state and district content standards and ensure that units are coherent within the context of a course or educational program?</p>
        <p>Big Ideas are typically the abstract non-obvious and often counterintuitive ideas at the core of subjects covered by mystery and confusion and illuminated by asking provocative questions and challenged by ideas which are tested confirmed and refined over time. Teachers can define the Big Ideas and core concepts and tasks students will be able to articulate and achieve by asking the questions: What is most important here? How do the pieces connect? What should students pay the most attention to? What are the bottom-line priorities?</p>
        <p><strong>By implementing inquiry performance and reflection in the classroom and framing goals understandings and essential questions within the constraints of a learning schema (i.e. Big Ideas) for students teachers enable students to infer (and thereby construct and connect) knowledge</strong> during well-designed and well-facilitated sessions.</p>
        <p>According to Wiggins and McTighe <strong>Big ideas can be framed as:</strong></p>
        <ul>
            <li>concepts (e.g. adaptation function quantum perspective)</li>
            <li>themes (e.g. "good triumphs over evil" "coming of age" "go West")</li>
            <li>ongoing debates and/or points of view (e.g. nature versus nurture conservatives versus liberals acceptable margin of error)</li>
            <li>paradoxes (e.g. freedom must have limits leave home to find oneself imaginary numbers)</li>
            <li>theories (e.g. evolution via natural selection Manifest Destiny fractals for explaining apparent randomness)</li>
            <li>underlying assumptions (e.g. texts have meaning markets are rational parsimony of explanation in science)</li>
            <li>recurring questions (e.g. "Is that fair?" "How do we know?" "Can we prove it?")</li>
            <li>understandings or principles (e.g. form follows function the reader has to question the text to understand it correlation does not ensure causality)</li>
        </ul>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">science literacy</span><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">Big Ideas</span><span class="blog-post-tag">student assessment</span></p>

    <p class="blog-post-created-at">Published October 1, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}