{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Effective test preparation</h1>

    <article class="blog-post-content">
        <p><a href="http://psychnet.wustl.edu/memory/wp-content/uploads/2018/04/Putnam-et-al-2016_PPS.pdf" target="_blank" rel="noopener">Putnam et al. (2016)</a> cite that <strong>overconfident</strong> students may know less than they think they do. This is something that leads to poor assessment performance.</p>
        <p>To prepare for tests <strong>students should start by answering questions they wrote while actively studying</strong> - reading the text or reviewing notes from class. This form of engagement enhances memory. By <strong>using questions created while studying as a study guide</strong> students review what they cannot retrieve but they should be sure that when they do retrieve something the answer is definitely correct.</p>
        <p>Retrieving quiz or test answers from memory makes it easier to do so in the future and applying other memory techniques like mnemonic acronyms and method of loci <strong>improve retention further</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">strategic learning</span><span class="blog-post-tag">assessment</span><span class="blog-post-tag">retention</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}