{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Effective Practice and Feedback for Learning Gains</h1>

    <article class="blog-post-content">
        <p>What practice and feedback are most effective? To promote the greatest learning gains goal-directed practice must be coordinated with targeted feedback. Ambrose et al. (2010) <strong>define</strong> <strong>practice as any activity in which students engage their knowledge or skills and feedback as information given to students about their performance that guides future behavior.</strong></p>
        <p><strong>What are the components of effective feedback?</strong> Feedback is comprised of <strong>content</strong> which communicates to students where they are relative to the stated goals and what they need to do to improve and <strong>timing</strong> which means that it is delivered when students can make the most use of it. Effective formative feedback communicates about students' performance relative to specific target criteria whereas summative feedback is the final judgment or evaluation of a student's proficiency in the form of grades or scores. Formative feedback has been shown to be associated with deeper learning (Balzer et al. 1989) and its specificity has been shown to support student post-test performance compared to students who received contrastingly generic feedback (McKendree 1990).</p>
        <p>Feedback must relate to course learning objectives and be delivered so that students will be likely to incorporate it in future practice opportunities. Examples of feedback include:</p>
        <ol>
            <li>
                providing students models of target performance
            </li>
            <li>
                providing students models of what isn't target performance
            </li>
            <li>
                peer feedback which is backed up with rationale and is actionable
            </li>
            <li>
                milestone-delineated projects
            </li>
        </ol>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">effective feedback</span><span class="blog-post-tag">formative assessment</span><span class="blog-post-tag">learning gains</span><span class="blog-post-tag">targeted practice</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}