{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Emphasizing Formative Assessments for Progress</h1>

    <article class="blog-post-content">
        <p>There weren’t many discussions on the ECS website about how students showcase evidence of their knowledge.</p>
        <p>However assessments likely take on a formative nature - in the moment within the environment with teachers asking for input and feedback during a unit. </p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">formative assessment</span><span class="blog-post-tag">student progress</span><span class="blog-post-tag">educational goals</span><span class="blog-post-tag">feedback</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}