{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Engaging Learners Through Diverse Experiences</h1>

    <article class="blog-post-content">
        <p>Students don't grasp the Big Ideas of a course when its content like a textbook is arranged logically. To be true to how people actually learn students must be presented with chances to use the content presented in a <strong>disciplined</strong> way with <strong>a variety of learning experiences to engage various learning styles</strong>. This sparks the pursuit of performance mastery and relegates the role of textbooks to a point of reference as students iteratively go through course Big Ideas in the pursuit of understanding.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">learning styles</span><span class="blog-post-tag">performance mastery</span><span class="blog-post-tag">educational context</span><span class="blog-post-tag">student engagement</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}