{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evaluating the Effectiveness of Educational Materials</h1>

    <article class="blog-post-content">
        <p>How are the most effective <strong>textbooks</strong> structured? What activities and questions do they pose to students to further understanding? What illustrations and problems facilitate and scaffold student learning best?</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational research</span><span class="blog-post-tag">instructional materials</span><span class="blog-post-tag">student learning</span><span class="blog-post-tag">evaluation</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}