{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evaluating the Impact of Educational Planning and Research</h1>

    <article class="blog-post-content">
        <p>Research studies can <strong>observe courses which treat the textbook as a syllabus and those which use the textbook as a point of reference and apply UbD's instructional design framework</strong>. They can even branch out to examine the feasibility of networked organizations which share resources between schools or districts and conduct analyses to <strong>determine whether the extra time dedicated to robustly plan educational designs correlates with better student outcomes</strong> along measures of local and state assessment performance.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational research</span><span class="blog-post-tag">planning</span><span class="blog-post-tag">evaluation</span><span class="blog-post-tag">student outcomes</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}