{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evaluating Educational Strategies and Their Impact</h1>

    <article class="blog-post-content">
        <p>Studies can be undertaken to <strong>investigate the benefits of in-person lectures compared to reading a textbook</strong>. Does communicating with others or asking questions in class support <strong>research on active learning</strong>?</p>
        <p>Research can also be conducted on distributing motivational supports and <strong>putting reminders and rewards into the environment</strong> in order to achieve self-defined goals. A previous study by Oppezzo and Schwartz (2013) found that these strategies worked for students who wanted to increase the amount of fruits and vegetables in their diets compared to those who were taught self-talk strategies.</p>
        <p>Students should also be instructed to <strong>monitor their sleep habits</strong> so that researchers can <strong>measure their problem-solving abilities along various dimensions</strong> like in a study conducted by Beijamini Pereira Cini and Louzada (2014).</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">evaluation research</span><span class="blog-post-tag">active learning</span><span class="blog-post-tag">motivational supports</span><span class="blog-post-tag">educational impact</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}