{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Evaluating Educational Impact Through Partnerships</h1>

    <article class="blog-post-content">
        <p>How does ECS evaluate the impact of its programs? The school has built partnerships to grow its educational impact internally extending educational opportunities to students and encouraging students to recognize the vibrancy of Pittsburgh. Research organizations that work with these partners can evaluate the impact of ECS' work in the domain of physical social and whole child development.</p>
        <p>Researchers can also look into the impact of programs like E-Day Ready Care and other after school programs on student learning.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational impact</span><span class="blog-post-tag">program evaluation</span><span class="blog-post-tag">partnerships</span><span class="blog-post-tag">student development</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}