{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Facilitating Teamwork and Knowledge Transfer</h1>

    <article class="blog-post-content">
        <p>Teamwork requires the component skills of delegation coordinating efforts resolving conflicts and synthesizing the contributions of group members. If students lack these component skills it is more likely their work in a team will pale in quality to individual outputs and they will fail to transfer knowledge to novel settings.</p>
        <p>In How Learning Works Ambrose et al. (2010) assert that the central goal of educational is far transfer; that is instructors want students to be able to apply what they learn beyond the classroom. However most research has found that there are a variety of obstacles to students achieving transfer in novel contexts citing examples from statistics and art. The reason that students may fail to achieve transfer may be because they don't have a robust understanding of underlying principles - they don't understand the why behind applications of knowledge.</p>
        <p>To increase the likelihood of transfer Ambrose et al. recommends that instructors:</p>
        <ol>
            <li>
                employ teaching assistants who may not have as much unconscious competence in the tasks being taught
            </li>
            <li>
                manage students' cognitive load by directing their attention to performance tasks which allow them to apply their knowledge repeatedly and in varying contexts
            </li>
            <li> encourage students to explicitly discuss contexts within which knowledge may be applied by defining problem features via case studies
            </li>
            <li>
                asking students to relate instruction to prior knowledge to facilitate the creation of connections which enable transfer with the aim that students will metacognitively begin to make these connections on their own
            </li>
            <li>
                provide targeted feedback for students to refer to an iterate upon making their instructional goals explicit and communicating to students expectations that their performance and learning are refinable over time.
            </li>
        </ol>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">teamwork</span><span class="blog-post-tag">knowledge transfer</span><span class="blog-post-tag">cognitive load</span><span class="blog-post-tag">targeted feedback</span></p>

    <p class="blog-post-created-at">Published October 31, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}