{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Flexible Performance as a Measure of Understanding</h1>

    <article class="blog-post-content">
        <p>To understand means to be able to perform flexibly.</p>
        <p>For readers interested in the nature of understanding - like a jazz improvisation (where prior thought plays no critical or determining role) - Wiggins and McTighe suggest the following books: Gilbert Ryle’s The Concept of Mind (1949) Perkins’s chapter in Teaching for Understanding (Wiske 1998) and The Nature of Insight (Sternberg &amp; Davidson 1995).</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">understanding</span><span class="blog-post-tag">flexible performance</span><span class="blog-post-tag">educational theory</span><span class="blog-post-tag">learning strategies</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}