{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Foundations of Understanding in Education</h1>

    <article class="blog-post-content">
        <p>There are multiple definitions of understanding according to scholars such as Dewey and Bloom.</p>
        <p><strong>John Dewey</strong> stated: Understanding is the result of <strong>facts acquiring meaning</strong> for the learner. To grasp the meaning of a thing an event or a situation is to see it in its relations to other things: to see how it operates or functions what consequences follow from it what causes it what uses it can be put to. In contrast what we have called the brute thing the thing without meaning to us is something whose relations are not grasped… The <strong>relation of means-consequence is the center and heart of all understanding</strong> (How We Think pp. 137 146 1933).</p>
        <p>Benjamin Bloom defined understanding as the ability to <strong>marshal skills and facts wisely and appropriately through effective application analysis synthesis and evaluation</strong> (1956).</p>
        <p>To understand is to transfer - the ability to "do" the work with <strong>discernment</strong> as well as the ability to self-assess justify and critique such "doings." <strong>Transfer</strong> involves figuring out which knowledge and skill matters here and often adapting what we know to address the challenge at hand.</p>
        <p>To truly understand and transfer one must have done a thing in the right way often reflected in being able to explain why a particular skill approach or body of knowledge is or is not appropriate in a particular situation. </p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">understanding</span><span class="blog-post-tag">Dewey</span><span class="blog-post-tag">Bloom</span><span class="blog-post-tag">educational theory</span></p>

    <p class="blog-post-created-at">Published October 1, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}