{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Fundamental Aspects of Educational Practices</h1>

    <article class="blog-post-content">
        <p>What does it mean for students to loop with teachers in order to build connection and consistency?</p>
        <p>Why is Reporter Training required for teachers?</p>
        <p>What are some of the 2100 outdoor experiences that students engage in?</p>
        <p>How are students assessed? Do you meet state standardized testing requirements?</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">educational practices</span><span class="blog-post-tag">student assessment</span><span class="blog-post-tag">teacher training</span><span class="blog-post-tag">outdoor experiences</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}