{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Implementing the GPA Approach in Education</h1>

    <article class="blog-post-content">
        <p>The <strong>Goals -&gt; Program -&gt; Assessment (GPA) approach is a constraint</strong> that aligns goals with educational programs and assessment acting as a funnel where the goals chosen filter relevant assessments to administer.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">GPA approach</span><span class="blog-post-tag">educational assessment</span><span class="blog-post-tag">instructional alignment</span><span class="blog-post-tag">goal setting</span></p>

    <p class="blog-post-created-at">Published September 24, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}