{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Inclusiveness and Equity in Educational Technology</h1>

    <article class="blog-post-content">
        <p>The authors touch on themes of <strong>inclusiveness and equity "for the entire spectrum of human identification from individual organizational and behavioral contexts"</strong> including self- and societal identification that may influence one’s experience with technology and learning (Culture Learning and Technology Division 2016).</p>
        <p>By incorporating cultural values into the instructional design process understanding culturally diverse learners and their relationships with Educational and Communications Technologies (ECT) the authors posit that instructional designers can apply (ECT) in <strong>culturally responsive/relevant/participatory ways in order to close achievement gaps and use ECT to preserve traditional knowledge/culture/language.</strong></p>
        <p>They also cite the "growth of global corporations and outsourcing" (Morrison et al. 2007) as a reason for giving special attention to the characteristics of culturally diverse learners (p. 61). The authors point out that economic shifts are shaping educational priorities although "the mainstream IT discourse perceives … stakeholder diversity … as a special need" rather than the nature of reality in our present age of global interconnectedness and human mobility or as a professional opportunity. <strong>This affects the ways in which learners in the global educational space will be interacted with by educational and professional teaching mentors.</strong></p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">inclusiveness</span><span class="blog-post-tag">equity</span><span class="blog-post-tag">cultural diversity</span><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">educational technology</span></p>

    <p class="blog-post-created-at">Published September 10, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}