{{#> base}}

<div class="blog-post-item-list">
    <h1 class="text-center">All Posts</h1>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-understanding-learners-in-context.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-targeting-explicit-goals.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-focusing-assessment-on-progress-toward-goals.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-designing-instruction-to-reach-goals.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-21-basic-definitions.html">Learning Science Research Decisions</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published November 21, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-understanding-learners-in-context.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-targeting-explicit-goals.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-focusing-assessment-on-progress-toward-goals.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-designing-instruction-to-reach-goals.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-19-basic-definitions.html">Evidence of Effective Implementation &amp; Impact</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published November 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-understanding-learners-in-context.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-targeting-explicit-goals.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-focusing-assessment-on-progress-toward-goals.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-designing-instruction-to-reach-goals.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-14-basic-definitions.html">Educational Design Example - Museum Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published November 14, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-understanding-learners-in-context.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-targeting-explicit-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-focusing-assessment-on-progress-toward-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-designing-instruction-to-reach-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-07-basic-definitions.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published November 07, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-understanding-learners-in-context.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-targeting-explicit-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-focusing-assessment-on-progress-toward-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-designing-instruction-to-reach-goals.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-11-05-basic-definitions.html">Applying Instruction Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published November 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-understanding-learners-in-context.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-targeting-explicit-goals.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-focusing-assessment-on-progress-toward-goals.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-designing-instruction-to-reach-goals.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-31-basic-definitions.html">Promoting Mastery</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 31, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-understanding-learners-in-context.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-targeting-explicit-goals.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-focusing-assessment-on-progress-toward-goals.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-designing-instruction-to-reach-goals.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-29-basic-definitions.html">UbD&#39;s Instructional Design Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-understanding-learners-in-context.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-targeting-explicit-goals.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-focusing-assessment-on-progress-toward-goals.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-designing-instruction-to-reach-goals.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-22-basic-definitions.html">Educational Design Example - Charter School</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 22, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-understanding-learners-in-context.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-targeting-explicit-goals.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-focusing-assessment-on-progress-toward-goals.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-designing-instruction-to-reach-goals.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-15-basic-definitions.html">UbD as an Iterative Process</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 15, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-understanding-learners-in-context.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-targeting-explicit-goals.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-focusing-assessment-on-progress-toward-goals.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-designing-instruction-to-reach-goals.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-10-basic-definitions.html">Applying Assessment Research</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-understanding-learners-in-context.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-targeting-explicit-goals.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-focusing-assessment-on-progress-toward-goals.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-designing-instruction-to-reach-goals.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-08-basic-definitions.html">UbD&#39;s Assessment Approach</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 08, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-understanding-learners-in-context.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-targeting-explicit-goals.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-focusing-assessment-on-progress-toward-goals.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-designing-instruction-to-reach-goals.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-03-basic-definitions.html">Understanding Types of Goals</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-understanding-learners-in-context.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-targeting-explicit-goals.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-focusing-assessment-on-progress-toward-goals.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-designing-instruction-to-reach-goals.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-10-01-basic-definitions.html">Goal Specification in UbD and Beyond</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published October 01, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-understanding-learners-in-context.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-targeting-explicit-goals.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-focusing-assessment-on-progress-toward-goals.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-designing-instruction-to-reach-goals.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-24-basic-definitions.html">Educational Design Example - Early Childhood Education</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 24, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-understanding-learners-in-context.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-targeting-explicit-goals.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-focusing-assessment-on-progress-toward-goals.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-designing-instruction-to-reach-goals.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-19-basic-definitions.html">Interest &amp; Motivation</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 19, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-understanding-learners-in-context.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-targeting-explicit-goals.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-focusing-assessment-on-progress-toward-goals.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-designing-instruction-to-reach-goals.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-17-basic-definitions.html">Student Development</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 17, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-understanding-learners-in-context.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-targeting-explicit-goals.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-focusing-assessment-on-progress-toward-goals.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-designing-instruction-to-reach-goals.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-12-basic-definitions.html">Inclusive Teaching</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 12, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-understanding-learners-in-context.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-targeting-explicit-goals.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-focusing-assessment-on-progress-toward-goals.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-designing-instruction-to-reach-goals.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-10-basic-definitions.html">Culture &amp; Technology</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 10, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-understanding-learners-in-context.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-targeting-explicit-goals.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-focusing-assessment-on-progress-toward-goals.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-designing-instruction-to-reach-goals.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-05-basic-definitions.html">Synthesizing &amp; Applying Big Ideas</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 05, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-understanding-learners-in-context.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-targeting-explicit-goals.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-focusing-assessment-on-progress-toward-goals.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-designing-instruction-to-reach-goals.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-09-03-basic-definitions.html">Primary Resource Perspectives</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published September 03, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-understanding-learners-in-context.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Understanding learners in context</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-targeting-explicit-goals.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Targeting explicit goals</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-planning-evaluation-research-to-provide-evidence-of-effective-implementation-and-impact.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Planning evaluation research to provide evidence of effective implementation and impact</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-focusing-assessment-on-progress-toward-goals.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Focusing assessment on progress toward goals</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-designing-instruction-to-reach-goals.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Designing instruction to reach goals</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

    <div class="blog-post-item"><a class="blog-post-item-link" href="blog/2019-08-29-basic-definitions.html">Strategic Learning for EGIA</a>

        <p class="blog-post-item-tags"><span class="blog-post-tag">Basic definitions</span></p>

        <p class="blog-post-item-created-at">Published August 29, 2019</p>
    </div>

{{/base}}