{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Integrating Technology in Instructional Design</h1>

    <article class="blog-post-content">
        <p>Instruction delivered using technology can be integrated with in-class activities. Instructors and instructional designers can use <strong>the ADDIE (Analyze Design Develop Implement Evaluate) model to develop content that aligns with course objectives</strong>. They can also refer to collections like MERLOT which consists of tens of thousands of discipline-specific learning materials learning exercises and Content Builder webpages. <strong>Education technology startup companies</strong> can also be good partners for instructional designers and instructors who are interested in <strong>integrating new technologies into their classrooms</strong>.</p>
        <p>Technology can be used to organize code and rehearse information such as <strong>note-taking features</strong> incorporated into learning modules or on a course learning management system. Pedagogical agents can be embedded in computer-based learning environments to complement and <strong>extend other scaffolds such as searchable text simulations and concept maps</strong>. Concept mapping tools can be used to help students organize and <strong>comprehend large amounts of information</strong>. Online interactive modules can be programmed to ask students to <strong>record reflections</strong> on their thought processes or justifications for their answers. <strong>Reminders</strong> delivered via email text message or smartphone can prompt students to study or rehearse. Modules can also be programmed to help students <strong>keep track of their study time</strong>.</p>
        <p>Technologies such as <strong>computer simulations game-based learning and virtual reality environments</strong> that simulate can allow students to grapple with complex problems. Complex material can be delivered via audio/visual technology and technology can also be used to scaffold students' learning and application of new content by allow learners to make decisions and observe the outcomes of their decisions provide an opportunity for students to <strong>practice newly acquired skills facilitate problem-based learning and allow for immersive role playing</strong>. Instructors can synchronously <strong>pair in-person lessons with online media</strong> assisting with knowledge scaffolding. Instructors can monitor the effectiveness of online blended and in-person courses by using tools such as the Practical Evaluation for Digital Learning (PEDL) toolkit.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">education technology</span><span class="blog-post-tag">ADDIE model</span><span class="blog-post-tag">blended learning</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}