{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Integrating Deliberate Practice into Course Objectives</h1>

    <article class="blog-post-content">
        <p>To <strong>direct students toward mastery</strong> in a subject deliberate practice must be undertaken and <strong>fit into a course’s objectives as a subgoal of that overarching aim</strong>. Opportunities for cultivating states of <strong>deep concentration</strong> and providing students with <strong>deep feedback</strong> regarding their performance can be introduced via something as simple as <strong>homework</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">deliberate practice</span><span class="blog-post-tag">course objectives</span><span class="blog-post-tag">deep concentration</span><span class="blog-post-tag">student feedback</span></p>

    <p class="blog-post-created-at">Published October 10, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}