{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Motivational Factors in Student Learning</h1>

    <article class="blog-post-content">
        <p>When students are not motivated to learn many instructors conclude that they are apathetic or lazy. However <strong>different students have different goals</strong> which affect their levels of motivation. These goals <strong>have two properties:</strong></p>
        <ul>
            <li>expectancy</li>
            <li>value or importance</li>
        </ul>
        <p>and enable students to <strong>derive meaning from the goals</strong> they pursue.</p>
        <p>There are <strong>two types of expectancies:</strong></p>
        <ul>
            <li>
                outcome expectancies which reflect the belief that specific actions will bring about a desired outcome (Carver &amp; Scheier 1998) and
            </li>
            <li>
                efficacy expectancies which represent the belief that one is capable of identifying organizing initiating and executing a course of action that will bring about a desired outcome (Bandura 1997).
            </li>
        </ul>
        <p>Students who lack confidence in their ability to achieve may demonstrate low levels of motivation while simultaneously protecting their self-esteem by not putting forth effort denying the perceived difficulty of the task at hand and coming up with excuses to explain poor performance to effectively the guarantee failure they expect to experience. There are <strong>two types of goals that may hinder student performance:</strong></p>
        <ul>
            <li>
                performance-avoidance goals where students focus on avoiding incompetence by meeting standards and
            </li>
            <li>
                work-avoidant goals where students finish work as quickly as possible with as little effort as possible (Meece &amp; Holt 1993).
            </li>
        </ul>
        <p>Students who are confident but lack support from the environment may become defiant in the face of difficulties increasing motivation slightly and students who feel supported students are more likely to be motivated to strive toward their goals and expect future success. Students prioritize goals based on what they value and research suggests that students with multiple goals are more successful than those with just one type of goal (Valle et al. 2003). Students are motivated by goals that they value the most. <strong>There are three types of value:</strong></p>
        <ul>
            <li>
                attainment value which represents the satisfaction that one gains from mastery and accomplishment of a goal or task
            </li>
            <li>
                intrinsic value which represents the satisfaction that one gains simply from doing the task rather than from a particular outcome of the task and
            </li>
            <li>
                instrumental value which represents the degree to which an activity or goal helps one receive extrinsic rewards.
            </li>
        </ul>
        <p>Bridging the gap between what students value and what they believe they can achieve maximizes students' motivation tying in with course climate to play a factor in students' learning environments.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">student motivation</span><span class="blog-post-tag">educational goals</span><span class="blog-post-tag">expectancy theory</span><span class="blog-post-tag">learning environments</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}