{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Optimizing learning with effective study strategies</h1>

    <article class="blog-post-content">
        <p>The goals relevant to this piece involve <strong>optimizing learning</strong> using the strategies suggested - these include <strong>time management techniques</strong> and <strong>active studying</strong>.</p>
        <p>Studying is best done in a quiet place with social media turned off. This is because <strong>switching attention between tasks makes learning less effective</strong> and social media is a distraction more often than not.</p>
        <p><a href="http://psychnet.wustl.edu/memory/wp-content/uploads/2018/04/Putnam-et-al-2016_PPS.pdf" target="_blank" rel="noopener">Putnam et al. (2016)</a> advise learners to study actively using "Read Recite Review." <strong>An example of Read-Recite-Review</strong> is recalling the big ideas of a chapter you just read from memory. To consolidate memories formed during studying <strong>get plenty of sleep</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">strategic learning</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}