{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Pre-reading and generating questions</h1>

    <article class="blog-post-content">
        <p>While delivering instruction <strong>teachers should form class structure around practice quizzes</strong>. This is because taking practice quizzes may be better than rereading the book. <strong>Taking a pre-reading quiz</strong> may help students remember more as it <strong>activates any related knowledge they have about the topic</strong> and makes it easier to connect new information to what they are about to read or observe.</p>
        <p>Teachers should advise students during class to <strong>come back to the course later in the day and flesh out lecture notes</strong> adding any information they did not write down initially and noting places where they didn’t understand something. Concerned teachers may also advise students to reconstruct notes taken in class and pinpoint areas of confusion or difficulty <strong>instead of rereading whole chapters</strong>.</p>
        <p>Generating questions about important points fosters comprehension and forces students to think hard. "Elaboration" in this context connects what students learn to what they already know. Answering questions like "Why is this true?" or "What parts of this page are new to me?" serve as a study guide for later.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">strategic learning</span><span class="blog-post-tag">elaboration</span></p>

    <p class="blog-post-created-at">Published August 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}