{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Putnam et al. and opportunities for future study</h1>

    <article class="blog-post-content">
        <p><a href="http://psychnet.wustl.edu/memory/wp-content/uploads/2018/04/Putnam-et-al-2016_PPS.pdf" target="_blank" rel="noopener">Putnam et al. (2016)</a> cite five books at the end of the paper which provide a "wealth of information … about specific study strategies and the research behind them." He also states (or rather admits) that some of the suggestions presented in this paper are based on a sample size of one so it may be helpful to expand upon these statements although statements such as "Go to class" seem self-evident in supporting academic performance.</p>
        <p>Findings and suggestions that could be investigated include verifying or repeating studies applying <strong>the use of active study techniques</strong> like self-quizzing the Spacing Effect (studying each subject a little bit each day) and the effectiveness of flashcards as a retrieval practice within different educational contexts and applications.</p>
        <p>In addition Putnam et al. posit that <strong>students should try to limit rereading to when they are confused about a particular topic</strong> even after self-quizzing. This claim and <strong>study groups that quiz and teach each other</strong> are fertile ground for learning science investigation.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">strategic learning</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}