{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Research on Learning Technologies and Student Outcomes</h1>

    <article class="blog-post-content">
        <p>Research can expand upon <strong>how students self-monitor and regulate their learning and internal states using learning technologies</strong> similar to the work conducted by Kitsantas and colleagues (2015).</p>
        <p>Although technology is common in university settings there is also an opportunity for research on <strong>the effects of technological interventions on student outcomes</strong> and <strong>how best to support instructors’ and administrators’ uses of technology</strong>.</p>
        <p>The federally supported Small Business Innovation Research program provides opportunities to <strong>receive grants for conducting research and development</strong> on innovative technologies.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">self-monitoring</span><span class="blog-post-tag">learning technologies</span><span class="blog-post-tag">student outcomes</span><span class="blog-post-tag">educational research</span></p>

    <p class="blog-post-created-at">Published September 05, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}