{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Basic definitions: the Spacing Effect and Read-Recite-Review Method</h1>

    <article class="blog-post-content">
        <p><strong>The Spacing Effect</strong> - Students should space study sessions on a topic out and quiz themselves instead of cramming learning into one long session.</p>
        <p><strong>The Read-Recite-Review Method</strong> where you recall information from memory is one of the best ways to remember information. Giving yourself feedback for questions you missed improves retention.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">strategic learning</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}