{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Strategies for Evaluating Educational Implementation and Impact</h1>

    <article class="blog-post-content">
        <p>Mary Budd Rowe (1987) stated that <strong>by waiting as little as three seconds teachers can subtly encourage students to offer responses</strong> posed by the instructor in greater variety and number with more speculation logic and evidence. Simultaneously teachers feel more confidence and a sense of control in the classroom.</p>
        <p>Research can be conducted on <strong>priming students' previous knowledge in various contexts (day-to-day from other courses or subjects and their own cultural/linguistic backgrounds)</strong> which helps them connect it to new knowledge. When can students apply knowledge from other contexts to the subject at hand? How much do students in aggregate benefit from analogies which highlight the differences and similarities between disciplines? What quantity/quality of examples and contexts should be provided for the new knowledge being presented? How many/what degree of challenges to students' existing flawed mental models changes them for the long-term? How does classroom climate contribute to the socioemotional factors which play a part in student learning?</p>
        <p>By reviewing the <strong>student development literature (Evans et al. 1998)</strong> clearly defining the knowledge requirements for different tasks and understanding the <strong>strategies that foster a productive climate (presented in How Learning Works p. 180)</strong> we can better understand how and why classroom climate influences learning.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">evaluation research</span><span class="blog-post-tag">educational impact</span><span class="blog-post-tag">implementation strategies</span><span class="blog-post-tag">student development</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}