{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Targeted Practice for Maximizing Exam Performance</h1>

    <article class="blog-post-content">
        <p>Deliberate practice has implications in the domain of <strong>studying for assessments</strong> - students may internalize 80% of the material or exercises on a summative exam but <strong>the remaining 20% may need to be targeted and effortfully practiced</strong> to maximize performance on the test.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">deliberate practice</span><span class="blog-post-tag">exam preparation</span><span class="blog-post-tag">performance improvement</span><span class="blog-post-tag">targeted practice</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}