{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Targeting Explicit Goals for Effective Learning</h1>

    <article class="blog-post-content">
        <p>What do learners need given the desired results? What is the best use of time spent in and out of the classroom given students' performance goals? Instructors can monitor student learning by means of assessment providing valuable feedback with which they can rethink revise and refine lessons. In turn students should be able to answer <strong>what they already know about a subject what they want to learn and instructors can track what the key learnings will be</strong> as they go through a lesson (characterized as the <strong>K-W-L approach</strong> by Wiggins &amp; McTighe).</p>
        <p>This has the effect that in concert teachers and students can work together to gauge course objectives students' attributes and the context within which learning is taking place to assess and strive toward understanding.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">explicit goals</span><span class="blog-post-tag">K-W-L approach</span><span class="blog-post-tag">student assessment</span><span class="blog-post-tag">feedback</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}