{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Teaching Metacognitive Skills for Self-Directed Learning</h1>

    <article class="blog-post-content">
        <p>How can teachers teach students to think metacognitively and direct their own learning?</p>
        <p>They can encourage students to diagram their own knowledge schemas with <strong>concept maps</strong>. Given the categories that students slot their knowledge into teachers can <strong>clarify how they frame course goals</strong> in order to clarify potential misconceptions about facts and their relationships which students may have as they go through the course. They can <strong>share the organizational structure of the course and details about its components</strong> (lectures labs discussions) bridging students' construction of knowledge and meaning to the course's objectives and organization. For students with little knowledge about the course's subjects students can be directed toward <strong>relationships between the pieces of knowledge</strong> the course presents.</p>
        <p>Teachers can tell students to assess each task given to them evaluate their own abilities apply strategies to achieve the task and calibrate their approach as they progress. This <strong>metacognitive feedback loop</strong> enables students to match the expectations of the course with their efforts and teachers can further metacognitive abilities by <strong>teaching students how to feed their learning moving forward</strong> - that is develop their own plans for academic success - that will <strong>generalize to other courses and areas of life</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">metacognitive skills</span><span class="blog-post-tag">self-directed learning</span><span class="blog-post-tag">concept maps</span><span class="blog-post-tag">academic success</span></p>

    <p class="blog-post-created-at">Published October 3, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}