{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">The Impact of Behavioral Models and Observational Learning</h1>

    <article class="blog-post-content">
        <p><strong>People who serve as models of behavior influence cultural norms in a group</strong>. Students' attention can be focused on high-status models or those that behave or act like them. This highlights <strong>the importance of representation not only in the field of teaching but also in the professions</strong>.</p>
        <p>In the classroom teachers can praise or punish students who exhibit desirable or undesirable behaviors and students will recognize and internalize those consequences. <strong>If learners attach value to a behavior they will be more motivated to imitate it.</strong> It is helpful for learners to know the purpose and components of the desired behavior to be modeled so that they can accurately map it to various contexts. Ideally modeled behaviors should be performed slowly and the purpose of each substep explained to maximize the likelihood that they will be imitated in accordance with the intentions of the instructor.</p>
        <p>Learning by observation how other people react to emotionally salient events (usually) establishes a baseline for how people act in situations. <strong>People mirror others</strong>. Observational learning can serve as a remedy when trial and error learning is too slow or impossible or when learners simply aren't sure how to act or feel and is useful for teaching body movements and affective states. <strong>When observational learning is combined with verbal explanations people can learn the why of a behavior</strong> - supporting Tannen's (1986) statement that in interaction meaning is never totally determinate but rather is … a joint production.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">behavioral models</span><span class="blog-post-tag">representation</span><span class="blog-post-tag">observational learning</span><span class="blog-post-tag">classroom behavior</span></p>

    <p class="blog-post-created-at">Published November 5, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}