{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Time management strategies for learners</h1>

    <article class="blog-post-content">
        <p><strong>At the start of a semester</strong> insert classroom activities and extracurriculars into a calendar. Review the upcoming month once per week alerting yourself if several assignments are due at the same time and you need to start studying early. <strong>Setting calendar reminders</strong> for the week before an exam project or recurring events like quizzes can prevent things from slipping through the cracks. Time management is crucial - in addition to attending class it helps learners to review one day’s work in the evening and also prepare for the following day’s assignments.</p>
        <p>This is an example of <strong>The Spacing Effect</strong> - learning and internalizing information over time gradually. Another example is reading about a concept before class and then hearing it in lecture after a delay making it more likely you’ll remember the concept in the future. This is an advantage of the "reviewing and preparing" model mentioned above.</p>
        <p>A caveat of this approach is that learners much make sure they <strong>get enough sleep</strong> and don’t stay up late to study.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">time management</span><span class="blog-post-tag">spacing effect</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}