{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Understanding Metacognition</h1>

    <article class="blog-post-content">
        <p>Metacognition refers to "the process of reflecting on and directing one’s own thinking" (National Research Council 2001 p. 78).</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">metacognition</span><span class="blog-post-tag">reflective thinking</span><span class="blog-post-tag">self-regulation</span><span class="blog-post-tag">cognitive strategies</span></p>

    <p class="blog-post-created-at">Published October 3, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}