{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Understanding Different Types of Validity in Research</h1>

    <article class="blog-post-content">
        <p>Traditionally, experimentalists strive for internal validity, which enables clear causal conclusions, discrimination of constructs, and predictions regarding future performance.</p>
        <p>Learning sciences researchers instead often emphasize an aspect of external validity: ecological validity (i.e., the assessment’s alignment with realistic contexts of learning).</p>
        <p>Recently, developmental scientists Hirsh-Pasek, Kochanoff, Newcombe, and deVilliers (2005) introduced the concept of empirical validity to stress that assessments should be based on solid research foundations.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">research validity</span><span class="blog-post-tag">internal validity</span><span class="blog-post-tag">external validity</span><span class="blog-post-tag">empirical validity</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}