{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Using Exemplars to Guide Student Mastery</h1>

    <article class="blog-post-content">
        <p>Instructors are encouraged in class to <strong>show students strong weak and mid-range assignments which were submitted in prior classes</strong> according to devised rubric standards. These anchors which provide evidence of different levels of understanding can help students compare and find the boundaries which exist in pursuit of <strong>course mastery</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">course mastery</span><span class="blog-post-tag">instructional design</span><span class="blog-post-tag">rubric standards</span><span class="blog-post-tag">student examples</span></p>

    <p class="blog-post-created-at">Published October 8, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}