{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Utilizing Formative Assessments to Enhance Student Progress</h1>

    <article class="blog-post-content">
        <p>Administering in-class formative assessments means that teachers can slow down or backtrack when there are too many wrong answers. <strong>Types of formative assessments include</strong>:</p>
        <ol>
            <li>
                index card summaries and explanations of course big ideas
            </li>
            <li>
                index cards with questions posed at the teacher regarding misconceptions or things students don't understand yet
            </li>
            <li>
                hand signals indicating understanding or lack thereof
            </li>
            <li>
                one-minute essays gauging comprehension
            </li>
            <li>
                question boxes bulletin boards or an email address where students can ask about misconceptions or lack of understanding privately
            </li>
            <li>
                concept maps
            </li>
            <li>
                oral questioning
            </li>
        </ol>
        <p>These checks for understanding over time <strong>teach students to gauge their own understanding and improve metacognitive skills</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">formative assessment</span><span class="blog-post-tag">student progress</span><span class="blog-post-tag">metacognitive skills</span><span class="blog-post-tag">educational goals</span></p>

    <p class="blog-post-created-at">Published October 29, 2019</p>

    {{> blog-post-comment}}

</div>

{{/base}}