{{#> base}}

<div class="blog-post-container">

    <h1 class="blog-post-title">Utilizing Rubrics to Align Assignments with Course Goals</h1>

    <article class="blog-post-content">
        <p><strong>Rubrics</strong> which <strong>establish criteria</strong> for met goals in a course enable teachers to infer students' knowledge skill and understanding. Rubrics <strong>codify evidence</strong> provided by student performance and ensure that it <strong>aligns with course goals</strong>.</p>
        <p>Rubrics can be used to communicate to students how various assignments in a course contribute to acquiring the learning objectives of a course. <strong>Teachers can assign weights to each assignment</strong> implying that the criteria that those assignments are tied to are also tied to <strong>different levels of quality proficiency and understanding</strong> which have been described and distinguished from one another.</p>
        <p>Rubrics <strong>also provide a feedback loop</strong> to teachers. By being used to evaluate students' work and defining each differentiated level of understanding within them rubrics allow for <strong>iteration and sharpening of course objectives</strong>.</p>
    </article>

    <p class="blog-post-tags"><span class="blog-post-tag">rubrics</span><span class="blog-post-tag">course goals</span><span class="blog-post-tag">student performance</span><span class="blog-post-tag">feedback loop</span></p>



    {{> blog-post-comment}}

</div>

{{/base}}