{{#> base}}

<div>
  <div class="main-container">
    <div class="header-text">
      <h1 class="header-text-logo">Row School</h1>
      <h3 class="header-text-description">The Results-Oriented Work School</h3>
    </div>

    <div class="content-box-outer">
      <div class="content-box-inner">
        <h1 class="text-center">About</h1>
        <span>
          We love learners.
        </span>
        <span>
          Whether we are going into schools to teach students CS or hosting them at a local, shared venue, 
        </span>
        <span>Row School is designed as:</span>
        <ul>
          <li>a learning environment that serves as an anchor of stability for the community and</li>
          <li>a dynamic environment where learners are consistently supported and challenged.</li>
        </ul>
        <span>We aim to help young students achieve a sense of purpose and meaning as they grow into adult learners.</span>
      </div>
    </div>


    <h1 class="text-center">Programs</h1>

    <div class="course-list even-columns-2">
      <div class="course-list-item-outer">
        <a href="http://rowschool.com/coderdojo" target="_blank" rel="noreferrer">
          <div class="course-list-item-inner">
            {{!-- SVG icon source is here: https://icons.getbootstrap.com/icons/yin-yang/ --}}
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-yin-yang" viewBox="0 0 16 16">
              <path d="M9.167 4.5a1.167 1.167 0 1 1-2.334 0 1.167 1.167 0 0 1 2.334 0"/>
              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M1 8a7 7 0 0 1 7-7 3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 0 0 7 7 7 0 0 1-7-7m7 4.667a1.167 1.167 0 1 1 0-2.334 1.167 1.167 0 0 1 0 2.334"/>
            </svg>

            <div class="course-list-item-inner-text">
              <p class="course-list-item-name">CoderDojo Centennial</p>
              <p class="course-list-item-description">A free coding camp for students ages 7-17</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-container-content">
      <span class="footer-container-text">
        Feedback? <a href="mailto:admin@rowschool.com">Send an email</a>.
      </span>
    </div>
  </div>
</div>

{{/base}}
