{{#> base}}

<div>
  <div class="main-container">
    <div class="header-text">
      <h1 class="header-text-logo">Row School</h1>
      <h3 class="header-text-description">Results-Oriented Work School</h3>
    </div>

    <div class="course-list even-columns-1">
      <div class="course-list-item-outer">
        <a href="http://rowschool.com/coderdojo" target="_blank" rel="noreferrer">
          <div class="course-list-item-inner">
            <div class="course-list-item-icon" size="48" />

            <div class="course-list-item-inner-text">
              <p class="course-list-item-name">CoderDojo Centennial</p>
              <p class="course-list-item-description">A free coding camp for students ages 7-17</p>
            </div>
          </div>
        </a>
      </div>

      <div class="course-list-item-outer">
        <a href="https://recapcs.com" target="_blank" rel="noreferrer">
          <div class="course-list-item-inner">
            {{!-- <img src={require('../images/recapcs-logo.png')} width="48" /> --}}

            <div class="course-list-item-inner-text">
              <p class="course-list-item-name">RecapCS</p>
              <p class="course-list-item-description">A learning tool for computer science courses</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <div class="footer-container-content">
      <span class="footer-container-text">
        Feedback? <a href="mailto:admin@rowschool.com">Send an email</a>.
      </span>
    </div>
  </div>
</div>

{{/base}}
